[2018-04-27 18:30] h0bb3s87 opened #1 "Establish user stories"
Establish iteration user stories, focused on:
- General user operations and activities
- Activities related to meta-data query and handling

[2018-04-27 18:34] h0bb3s87 opened #2 "Select external authentication services"
Assess and select suitable 3rd party authentication service(s) based on initial requirements, e.g. ORCID.

[2018-04-27 18:35] h0bb3s87 opened #3 "Design UX/UI"
Design initial portal UX/UI, including
- branding
- style
- UI layout
- workflow / navigation

[2018-04-27 18:36] h0bb3s87 opened #4 "Select portal framework"
Assess and select suitable framework based on initial requirements, e.g. Drupal, Joomla, etc.

[2019-02-27 22:58] paiva opened #5 "[Portal] Need CONP Admin email"
Some tasks will require to have a CONP-related email account (notifications and user support)

[2019-02-28 16:33] 3design opened #8 "[Portal] Add higher resolution logo to nabvar"
Need to include a higher res picture (logo) for the navbar brand section

[2019-03-11 12:52] paiva opened #14 "[Analytics] CONP Analytics - phase 1"
### Summary of the analytics to be added on the short term from our Matomo server (Feb 23rd, 2021)

- [x] display Matomo widgets directly into the analytics page using iframes #403
- [x] display number of visits to the portal across time #404
- [x] display number of views per datasets/tools #405
- [x] display popular keyword searches #406
- [ ] display analytics on dataset providers #407

### Old

[2019-03-11 12:54] paiva commented on #14
@shots47s What is CBRAIN doing for tracking analytics?

[2019-03-11 12:55] shots47s commented on #14
@paiva, we use our own internal mechanisms that are baked into the server code.  I would not recommend doing that, I would use something that is canned and out of the box.  I have used GA before, and it works really nice, I know some may have some issues with it being Google, but you can close off sections of the website to the analytics.  I don't have experience with the others.

[2019-03-11 14:53] maltheism commented on #14
Hey @paiva, as you know there is discussion of adding GA to LORIS. So let's stay in sync. We can definitely limit what pages GA has access over by not loading it on certain pages.

[2019-03-28 16:32] kchatpar opened #18 "[Analytics] Add Altmetric for Dataset Tracking"
Consider adding Altmetric scores next to datasets listed on the Conp website. Altmetric scores are an attention score used for tracking publications. Adding an Altmetric score next to the dataset will help the owner know where their data is being used.

Example Altmetric Score: https://www.altmetric.com/details/34049168

[2019-04-09 20:02] paiva opened #24 "Add NeuroLibre link"
Need to add link to URL image. Where is it going to point to?

[2019-04-09 20:03] paiva opened #25 "[NeuroLibre] Bug: Fix on-hover state of the image"
On-hover state does not change the background color of the image from white to black.

![Screen Shot 2019-04-09 at 4 03 11 PM](https://user-images.githubusercontent.com/1534575/55831398-ffa9c100-5ae0-11e9-9795-d0a4bc96c54a.png)

[2019-04-15 19:11] 3design opened #30 "[Mobile] CSS changes from conp.ca website (optimize responsive)"
[code]

[2019-04-20 03:06] paiva commented on #5
Pam provided conp admin email account

[2019-04-20 03:06] #5 closed

[2019-04-20 03:07] paiva commented on #2
3rd party authentication services have been established to be: ORCID and EduGain (in progress). Support for Github login is also being considered.

[2019-04-20 03:07] #2 closed

[2019-04-20 03:08] paiva commented on #3
Derek's mockup is available here: https://sketch.cloud/s/7b5v2

[2019-04-20 03:08] #3 closed

[2019-04-20 03:09] paiva commented on #4
Flask was the framework selected, with CKAN as second choice

[2019-04-20 03:09] #4 closed

[2019-04-20 13:54] paiva commented on #24
It will point to https://conp-pcno.github.io/, then to neurolibre.conp.ca

[2019-04-26 03:56] paiva opened #35 "[Download] Remove <a> tag for private datasets in public view"
If user is not authenticated or the dataset is private, there should not be an <a> tag on the download button, instead just invoke an alert or redirect to the login page

[2019-04-26 16:31] 3design opened #37 "Documentation and publications for Prevent-AD"
Here is a block of code to add to the Prevent-AD description

[code]

[2019-04-26 19:45] paiva commented on #30
Done

[2019-04-26 19:45] #30 closed

[2019-04-26 23:45] 3design commented on #37
Set up a new set of code with styles. I reset the style to use border-box, as well as reset some typography. This may break the styles if pasted in full as bootstrap may already reset styles. I will put the whole block below but I recommend trying to paste from the  segment first

[code]

[2019-04-28 05:17] paiva commented on #35
Armin fixed it

[2019-04-28 05:17] #35 closed

[2019-04-28 05:18] paiva commented on #8
Done

[2019-04-28 05:18] #8 closed

[2019-04-29 17:35] stronics opened #45 "Fix Mobile Layouts"
It breaks for NeuroLibre icon, download buttons, and data search aspects. Need to show cards instead

[2019-04-29 17:36] paiva opened #46 "Beta Release Specs"
Need to write the roadmap and beta release specs. Plan to open between July and August

[2019-04-29 19:54] paiva opened #47 "ORCID login without registration breaks the system"
JB tried to log in with being registered first and broke the system. Need to put some checking in place.

[2019-04-30 21:59] paiva opened #48 "Transition to production VM"
Transition from portal.conp.io to portal.conp.ca

[2019-05-01 21:57] paiva opened #49 "[Authentication] Detailed Registration Steps"
Need to add the multi-layer registration steps: including agreeing to the ToS, community agreement/expectations, code of conduct, etc.

[2019-05-02 15:44] cesare-spinoso opened #51 "Tools & Pipelines Key Points"
Overview of the search engine:
Search through tools by using the bosh command line (form Boutiques). Boutiques should act as an "app store" framework where it retrieves tools through bosh search. The unique tool identifier (DOI) is returned from Zenodo and can be used to allow the user to download the tool.

One key element about the search is that it should use web caching, as individual bosh sea

[2019-05-02 15:55] paiva commented on #47
Fixed in PR#50

[2019-05-02 15:55] #47 closed

[2019-05-02 16:18] glatard commented on #51
Hi @cesare-spinoso, that's a good start!

More specifically, I think the caching should work as follows:
1. Search requests should search in `~/.cache/boutiques/*.json`, not through `bosh search` directly.
2. `~/.cache/boutiques/*.json` should be updated regularly, through calls to `bosh pull`.
Step 2 should be implemented through Boutiques' Python API.

We should also precise what will be present

[2019-05-02 18:14] paiva commented on #25
Fixed in PR#52

[2019-05-02 18:14] #25 closed

[2019-05-06 15:35] paiva commented on #37
This was added on the prototype

[2019-05-06 15:35] #37 closed

[2019-05-06 15:36] paiva commented on #45
NeuroLibre icon fixed, still missing fix for:
1) Dashboard big buttons
2) Search page
3) Nabvar Toogle  on search

[2019-05-14 14:07] paiva opened #54 "[Suggestion] Forums/Collaboration Tools"
On the Forums section of the CONP portal, it would be nice to explore:
1) Having a link to Neurostars
2) Brainhack slack channel
3) Discourse platform (either MCIN's or create a CONP discourse forum)

[2019-05-14 14:09] paiva commented on #54
Questions about particular datasets can be linked some of these resources. For instance, we could have an FAQ about PREVENT-AD on Discourse and we can link it on the dataset page for PREVENT-AD

[2019-05-23 02:16] glatard commented on #51
The goal here is to implement pipeline search in the following panel of the portal:

![Screenshot from 2019-05-22 20-43-07](https://user-images.githubusercontent.com/5174953/58217771-41c64500-7cd2-11e9-8635-2c2acab1e981.png)

Users should be able to:
* Search pipelines available on Boutiques (similar to `bosh search`)
* Get basic information about the tool (similar to `bosh pprint`)
* Get instruct

[2019-05-29 16:35] glatard opened #56 "Testing framework"
The project should be tested on Travis, using pytest and coveralls.
- Create a .travis.yml file and add the project to Travis
- Create a few tests for backend functions
- Add coveralls to Travis file
- Add pass/fail and coverage badges to README
See example in https://github.com/boutiques/boutiques

@joeyzhou98

[2019-06-04 17:47] glatard opened #57 "Pipeline UI improvements"
As discussed with @paiva and @joeyzhou98, #51 will result in a minimal, usable interface for pipeline search. That minimal version should be extended to comply to the mockup initially designed. @joeyzhou98 could add more information following our discussion.

[2019-06-04 17:51] glatard opened #58 "Porting pipelines to CBRAIN"
Tools found through the portal will be identified as available in CBRAIN when their `online-platform-urls` property (a list) contains a URL with the string "cbrain" in it. Many pipelines returned by search aren't currently available in CBRAIN, and if they are, it's likely that their descriptor doesn't include the URL of a CBRAIN portal. Pipelines returned by `bosh search` should be reviewed, added

[2019-06-04 17:54] glatard opened #59 "Pipeline execution in CBRAIN"
#51 will result in the user being redirected to CBRAIN to run pipelines. We should discuss whether we would like to have a tighter integration with CBRAIN. Steps could be:
1. Pre-populate a pipeline launch form with a dataset and default parameters, instead of just redirecting to the portal.
2. Launch the pipeline from the CONP portal.

I think (1) is doable and (2) is not really necessary but tha

[2019-06-04 17:56] glatard opened #60 "Pipeline demo in Neurolibre"
We should prepare a basic demo on how to process data with a pipeline in a Neurolibre notebook. We could for instance do brain extraction of a few subjects using `zenodo.1482743`. The way to do it would be to use Boutiques' desc2func feature, in a way similar to:
[code]

@stikov @pbellec

[2019-06-05 13:08] glatard opened #61 "Pipeline export to NITRC"
Integrated pipelines could be exported automatically and periodically to ReproNim: https://github.com/repronim/containers A cron job could pull the Boutiques descriptors, extract their container image, and push it to that datalad repository.

[2019-06-12 15:23] 3design opened #62 "css suggestion for img"
Currently the bootstrap css is allowing images to change aspect ration as they are resized. I suggest adding the following to the css

[code]

[2019-06-13 14:28] glatard opened #63 "Pipeline execution on CONP datasets"
We should streamline the processing of CONP datasets with CONP pipelines, possibly by reviving https://github.com/CONP-PCNO/conp-pipeline

[2019-06-19 14:22] paiva commented on #63
I agree with this suggestion. How would you like to proceed?

[2019-06-19 15:05] paiva commented on #62
Fixed.

[2019-06-19 15:05] #62 closed

[2019-06-28 19:54] glatard commented on #63
This has two aspects:
1. Following a discussion with @shots47s. From the portal, the frontend should be developed to launch a specific pipeline on a specific dataset using CBRAIN's REST API. The new CBRAIN GUI will soon provide widgets to facilitate that.
2. From the command line, this is already possible using Boutiques+DataLad. I don't think we need to add anything specific there.

[2019-06-28 19:55] glatard commented on #60
A basic tutorial is available and under review: https://github.com/neurolibre/boutiques-tutorial

[2019-06-28 19:55] #60 closed

[2019-06-28 19:56] glatard commented on #59
Duplicate of #63

[2019-06-28 19:56] #59 closed

[2019-06-28 19:57] glatard commented on #51
Addressed by #55

[2019-06-28 19:57] #51 closed

[2019-07-03 13:11] shots47s commented on #63
I think we should do the CBRAIN execution in two stages:

1) redirect to the portal as a first pass (i.e. send over to CBRAIN the information about which dataset and pipeline to be executed) and let the users use CBRAIN to run it.
2) Then move to providing modular UI components from our new interface and run the jobs through the CBRAIN API.  It may not be necessary then to code up an actual connec

[2019-07-03 14:48] glatard opened #66 "Add link to online platform where pipeline is installed"
## Purpose

Pipeline objects have an `online-platform-urls` list property that refers to Web platforms where the pipeline is installed. When this property is defined, pipeline search should add an icon linking to a platform in `online-platform-urls` in the pipeline record.
* When the linked URL contains string "cbrain", then the icon should be that of CBRAIN. Otherwise, it should be a default "glo

[2019-07-03 14:59] joeyzhou98 commented on #66
@glatard sure this looks like a quick fix, I can take care of it

[2019-07-16 18:47] paiva opened #68 "Missing pipelines descriptors.json"
The file `all_descriptors.json` is not downloaded in the `.cache` repository locally, therefore when I search for pipelines, it gives an error that it cannot find that file

## Expected Behavior

The file `all_descriptors.json` should be downloaded first before launching the application to avoid having the error problem.

## Current Behavior

![Screenshot_2019-07-16_14-48-34](https://user-images.g

[2019-07-16 19:44] joeyzhou98 commented on #68
@paiva there should be a `logs/update_pipeline_thead.log` file in the root directory, can you let me know if it exists and if so, what it says?

[2019-07-16 19:48] paiva commented on #68
Hi @joeyzhou98 thanks for your quick reply. There is a log file, here is the content:

<details>
<summary>Log file </summary>
<br>
[code]
</details>

[2019-07-16 19:49] paiva commented on #68
Thanks @joeyzhou98 for your quick reply. Here is the log:
[update_pipeline_thread.log](https://github.com/CONP-PCNO/conp-portal/files/3398882/update_pipeline_thread.log)

[2019-07-16 20:05] glatard commented on #68
Hi @paiva, can you try to `bosh search` on the portal host?
@joeyzhou98, I guess we should create an empty file if `bosh search` fails, and leave the outdated one in place if it already exists.

[2019-07-17 14:15] joeyzhou98 commented on #68
Hi @paiva, could you try updating boutiques and then try again, I think @glatard had a similar problem at the beginning too. My boutiques version is 0.5.20.post1

[2019-07-17 14:23] paiva commented on #68
Ok, I will try that

Santiago.

On Wed, Jul 17, 2019 at 10:15 AM Joey Zhou <notifications@github.com> wrote:

[2019-07-29 19:38] paiva commented on #68
Changing the version to `boutiques==0.5.20.post1` seems to be solving the problem. I will try to replicate it on a fresh install to confirm. Great suggestion @joeyzhou98

[2019-07-30 16:33] glatard commented on #68
@joeyzhou98, I think it now works because Zenodo is back online. It would be nice to make sure that the portal would initialize correctly even when Zenodo is down.

[2019-07-31 19:02] paiva commented on #68
@glatard @joeyzhou98 See https://github.com/boutiques/boutiques/pull/534, Xavier found the problem.

[2019-08-04 17:02] shots47s commented on #68
@glatard @joeyzhou98  See boutiques/boutiques#536, I made a pull request that fixes another minor bug in this.  Turns out that some of the data is not there if the descriptor has never been downloaded.

[2019-08-10 15:42] DESm1th opened #69 "Setting up VM webserver"
## Purpose
The conp-portal VM needs a production capable web server set up and running. Currently this does not seem to be configured correctly.

## Possible Implementation
I will:

- [ ] Set up NGINX+ uWSGI for the flask app
- [ ] Configure the firewall / fail2ban / alerts emailed to admins for security
- [ ] Set up letsencrypt https certs for the portal.conp.ca domain + set up auto-renewal of ce

[2019-08-10 16:19] shots47s commented on #69
By assigning me this, are you saying that I am responsible for doing this or will you be doing this?

[2019-08-10 17:31] DESm1th commented on #69
Oh sorry! I'd be doing this, JB just asked me to ping you and tristan and
so i just assigned you without thinking ha. Sorry.

On Sat., Aug. 10, 2019, 12:19 p.m. Shawn Brown, <notifications@github.com>
wrote:

[2019-08-10 17:37] shots47s commented on #69
No problem, if you run into any barriers, please do not hesitate to ask.

[2019-08-10 22:19] shots47s commented on #69
These steps sound good, we have some system admins that can help with these items, and many may aleady be set up. I will send an email connecting you to them.

[2019-08-12 13:50] shots47s commented on #69
I have created an MCIN ticket and asked that one of the systems engineers come on here and help with this.  Since this will likely be housed within our ecosystem as a VM, we need to make sure they are involved and that the machine properly sits inside with the appropriate firewalling and monitoring.

[2019-08-12 13:53] DESm1th commented on #69
I think Santi has gotten at least partway through that setup. A VM exists
which he gave me access to, but its public DNS records dont seem to be set
up, and the webserver isnt up and running.

On Mon., Aug. 12, 2019, 9:50 a.m. Shawn Brown, <notifications@github.com>
wrote:

[2019-08-12 14:21] shots47s commented on #69
According to our systems folks, it is currently set up as dev VM, so I need to talk to them about what the best way forward is, I will do so shortly and post results here. What is the definitive name we want for the DNS, 'portal.conp.ca'?

[2019-08-12 14:34] shots47s commented on #69
One missing component, we need to setup backups for the database.

Also, we should think about a 'dev' and a 'production' environment.  There are few options:

Option 1: We could make these separate servers with separate databases.
1. Advantages:
a. Completely separate environments so that they can't trample on each other.
2. Disadvantages:
a. Two separate VMs to deploy and maintain

Option 2: We

[2019-08-12 17:31] shots47s commented on #69
Ok, have talked this over with the systems team.

You will not need to do steps 2,3, and 4, our infrastructure is already set up to do this.

Step 1: will be to change the current VM of conp.portal.ca to conp.portal-dev.ca to clearly delineate that it is not a production environment as of yet.
Step 2: set the VM up to use our LDAP system so that we have secured and full control over the people tha

[2019-08-12 18:02] DESm1th commented on #69
Sounds good to me! The platform is using sqlalchemy so it should be fine with mysql with few / no changes required (I might just need to change the connection string and add package to the requirements list).

[2019-08-12 18:19] shots47s opened #70 "Clean up CONP VM environment"
## Purpose
There is a need to reorganize and clean up our current set of CONP VMs.  Currently each have been deployed with a single use account that is being shared amongst several people, and each of them doesn't at this point serve a clear purpose.

In order for the project to move from a demo platform to a full fledged production environment with a geographically shared development effort, we n

[2019-08-12 18:20] shots47s commented on #69
Agreed on all fronts, we want to make sure that people can develop separate from the production setup.

[2019-08-12 19:55] andytengca commented on #70
I am going to send the request to change DNS record.

1. change dev VMs to portal-dev.conp.ca
2. create DNS for prod VMs portal.conp.ca

will let you know once done.

[2019-08-15 17:39] andytengca commented on #69
I've changed the DNS hostname for dev VMs

dev hostname is portal-dev.conp.ca

I will turn dev vm into ldap system and create a ldap group to limit the users to login either dev vm or pro vm.

Please list a group of users who need to access to these vms, thanks.

Andy

On 2019-08-12 2:02 p.m., Dawn E. Smith wrote:

Sounds good to me! The platform is using sqlalchemy so it should be fine with mysql

[2019-08-19 15:12] shots47s opened #71 "Refactor the portal app to use blueprints"
## Purpose
Provides a more modular framework to develop Flask Apps by delineating scope within different functions of the App.  For example, the authorization portion can go in its own drop-in authorization app that is added to the main Flask App.

## Context
Sets up the ability to make our overall development more modular, and also provides a path to unit testing of the platform.

## Possible Imp

[2019-08-19 15:16] shots47s commented on #71
Related to #56

[2019-08-19 15:21] shots47s commented on #46
The Beta Specs for the platform should include (open for discussion):

1) The web-platform hosted on a VM within the MCIN network.
2) The Data entries being dynamically populated through datalad or similar mechanism (right now they are statically defined).
3) Data entries should dynamically updated statistics as people download or view the entries.
4) All datasets available should either be direct

[2019-08-19 15:23] shots47s commented on #57
Need cosmetic work to accomplish this.  The names coming from Zenodo are not so good :) . Also need to make sure that all boutique descriptors in Zenodo that run on CBRAIN are labelled to do so.

[2019-08-19 15:51] liamocn commented on #71
Thanks, I can take this on if you wish. Are there other issues to be added to 0.9 in future?

[2019-08-19 15:54] shots47s commented on #71
Working through the issues, yes there will be more.

[2019-08-19 15:56] shots47s commented on #68
Just awaiting Boutiques pull requests to close this issue.

[2019-08-19 16:03] shots47s opened #72 "Add cli.py and make proper command line utilities for the app"
## Purpose
Create a place to build command line management tools for the portal such as database operations such as backup, restore, and seeding as well as other functions we may need in the future

## Context
having a succinct place to put these tools can be easier to develop in the future and facilitate testing and translation.

## Possible Implementation (optional)
create a separate cli.py that

[2019-08-20 01:21] jbpoline commented on #72
Would it be a good idea for Dawn to give you a hand with this ?

On Mon, Aug 19, 2019 at 12:03 PM Shawn Brown <notifications@github.com>
wrote:

[2019-08-20 05:47] shots47s commented on #72
Sure, in fact, @DESm1th, why don't you take this one and @liamocn take the previous one.

[2019-08-20 07:38] shots47s commented on #49
So a concrete question on how we want this to proceed:

Options:

1. We have a CONP Portal account, and a user needs to register first for that unique account and then we allow them to associate other accounts (e.g. ORCID, but not exclusive) to their account.
   a. Advantages
      1. A unique CONP id
      2. no additional registration required by external systems
      3. have the ability to ass

[2019-08-20 07:49] DESm1th commented on #72
Will do! I'll start work on this next week when I'm back in Toronto

On Mon., Aug. 19, 2019, 7:47 p.m. Shawn Brown, <notifications@github.com>
wrote:

[2019-08-20 07:56] shots47s commented on #49
Helpful discussion from Flask-Dance, which is a tool for associating accounts to Flask Users through OAUTH, to give you some idea of the technical aspects.

https://flask-dance.readthedocs.io/en/latest/multi-user.html

[2019-08-20 09:13] shots47s opened #73 "Create a distinct Development and Production configuration environments"
## Purpose
In order to facilitate development and deployment, create the capability to distinctly set up a development vs. production environment.

## Context
This way developers can set up a local env without the need to have use a dedicated VM.  Should ensure that the dev environment is deployable quickly on a laptop.

## Possible Implementation (optional)
using a well defined configuration defi

[2019-08-20 16:57] liamocn commented on #72
Works for me!

[2019-08-20 20:52] glatard commented on #70
Sorry to chime in late on that, but I'm not sure if we should provide a development infrastructure to developers. Instead, it would be easier if developers could have their own installation of the portal and develop there. This has worked for @joeyzhou when developing the pipeline part of the code, up to minor configuration issues.

[2019-08-20 20:54] glatard commented on #68
@shots47s see my comments in https://github.com/boutiques/boutiques/pull/536, apologies for the delay.

[2019-08-20 20:55] #66 closed

[2019-08-21 05:50] shots47s commented on #70
I agree 100%, these VMs were more setup for Datalad stuff, although we should move to make that as distributed as possible as well, otherwise, we really aren't using Datalad correctly.  These are being setup now mostly to provide deployment servers.

[2019-08-21 07:35] shots47s opened #74 "Is a login required for retrieving open data in the portal?"
## Purpose
Do we require a login in the platform to access all of the data, even completely open datasets, or do we require a login or not (independent of what that login is).

## Context
Right now, the portal does not require a login to see and access the data that is unrestricted and open.  It only requires it to see registered data (in the current case, just the PreventAD dataset).  We should d

[2019-08-21 12:22] glatard commented on #74
I prefer 2: 2.a largely outweighs 2.b imo.

[2019-08-21 13:43] samirdas commented on #74
My initial vision was to be fully open (no password... i.e. Option 2), but PreventAd insisted on this, even for their open data. I think people are still getting used to the idea of truly open data. Here's one point... we can always eliminate the need to user tracking, by getting rid of the password later, but it's much harder to bring it back. Higher powers will want to weigh in on this. Let's di

[2019-08-21 14:01] glatard commented on #74
Then their data is registered access and it's still fine. Fully open doesn't prevent us from tracking download numbers, even unique downloads by IP address. It would be funny to have to login to access datasets that are otherwise public, and found for instance on openneuro without the need to login.

[2019-08-21 14:19] shots47s commented on #74
Yes, I am not trying to get into an argument about what it means to be open.  It is basically to settle the argument of whether being able to track downloads to people trumped the need to provide the data without login.  I am agnostic, but want a definitive answer from the TSC.  It is very much just an implementation detail.

[2019-08-21 14:21] edickie commented on #74
Definitely 2.  It's better to have data downloaded without tracking then left unused/un-found by researchers.

[2019-08-21 14:31] shots47s commented on #74
3 votes for 2. (I assume @samirdas was a solid maybe on 2 :))

[2019-08-21 15:09] glatard commented on #49
Ultimately I think we want to support both: either login with your preferred website (Orcid, GitHub, etc), or create an account manually. In practice, as dev resources are limited, I would say let's go for Orcid-only in the first release (so option 2), and then see if there's a need for more. That's also what OpenNeuro does (Orcid or Google in their case -- https://openneuro.org/).

[2019-08-21 15:11] shots47s commented on #49
Using the proper tools, it is really not much effort to implement one or the other.

Flask-Dance has canned interfaces to many of these (although oddly not to ORCID :))

[2019-08-21 15:16] jbpoline commented on #74
I think that would be fine wrt to the preventAD consent given the lastest information I have - but remember that the issue was that in the PrenvenAD consent form we had some language about the dataset being used by the "researchers" or research community IIRC. This was the reason why we were forced -talking to Adrian- to have a orcid login - as orcid can be reasonably argued to be proxy to that co

[2019-08-21 15:18] glatard commented on #74
sure but option 2 doesn't prevent datasets that require a login to have one. It just allows datasets that don't require a login to not have to use one.

[2019-08-21 15:19] shots47s commented on #74
If you would like to debate how PreventAD requires consent, please open an issue on a different github repo, this is only meant to discuss whether to require a login for all use cases or not.

[2019-08-21 15:27] jbpoline commented on #74
The question was whether, without an orcid login, we would have to move that dataset to a "registred" - and this may not be only for PreventAD: I can think of quite a few people would may be happy to push their dataset on conp open if there is an orcid login, but may be not otherwise, so it is really about the general policy, sorry if that was unclear.

[2019-08-21 15:32] shots47s commented on #74
The last part is certainly relevant, I just didn't want to make this about PreventAD consent.

[2019-08-21 15:37] jbpoline commented on #74
yes, preventAD is only one example (although a big one :)

[2019-08-21 15:39] glatard commented on #74
I still don't see why this is an issue for PreventAD. If PreventAD requires a login, it will still be possible. It's just that datasets that don't require a login won't have to have one.

[2019-08-21 15:43] shots47s commented on #74
I agree, there may be also people that would be reticent to provide the dataset as open, and feel like we are tracking folks by requiring a login.  So I am inclined to go 2 because it just is more options.  Again, technically all easy, just need for a definitive direction to be made, right now, 2 seems to be the winning option.

[2019-08-21 15:51] tomgee commented on #49
I agree with Tristan's comment.

[2019-08-21 15:55] tomgee commented on #74
I'd go with (2) as well, but I will note that tracking by IP is definitely a very coarse measure.  In many (most?) institutions, the source IP will simply be the firewall/proxy of the entire research institute.

[2019-08-21 18:10] jbpoline commented on #74
@glatard : it not specifically an issue, you are right. Maybe the solution is to implement this additional layer:
- layer 0: no login required, all metadata and some datasets
- layer 1: orcid individual
- layer 2: registred access: orcid institutional + white listed
- layer 3: white listed

That sounds a lot though. Also, just to let you know, from a thread of the steering committee some are stron

[2019-08-22 07:04] shots47s commented on #74
Ok, do you want to bring it to them or shall I? This needs to be resolved quickly.  Otherwise, I suggest we proceed with two and turn on all datasets as registered with ORCID if we have to shift.

Thanks all for the great discussion.

[2019-08-29 17:34] shots47s commented on #74
@jbpoline do you have a response to my previous question?

[2019-08-29 17:37] shots47s commented on #70
@andytengca, can you put a list of the VMs available to the project here so that we have them and then I can close this issues?

[2019-08-29 17:40] shots47s opened #75 "Establish CONP style guide CSS"
## Purpose
This may have already been started or looked at, but creating a definitive style-guide / CSS for the portal so that there is not a bunch of custom CSS floating around.

## Context
Having a definitive style guide will ameliorate development and ensure that as we move forward, the portal has a uniform look and feel.

## Possible Implementation (optional)
Review of the current CSS's in the

[2019-08-29 17:45] shots47s opened #76 "Dynamic updating of datasets from the conp-datasets repo."
## Purpose
Currently, the datasets in our portal are statically updated at install time through a kludgy migration.  This should be dynamically populated through calls to whatever backend API that we are using, or pull from a registry process.

## Context
The portal should be dynamic in how it presents its datasets.

## Possible Implementation (optional)
1. Have this automatically done from time t

[2019-08-30 13:16] tomgee commented on #76
If all of the datasets referred to by the portal are in the conp-dataset repo, then an automatic poll would make the most sense.  However, if there are (or will be) datasets who do not reside directly in the repo, then presumably any changes to those externally-hosted datasets would involve pushing notification of the changes into the CONP portal/repo through a versioned registration process.

I t

[2019-08-30 13:49] andytengca commented on #70
We have 3 dev VMs as below and I also changed the DNS record. You can access the below 2 VMs via your ldap credentials

ssh -p 30032 <username>@portal-dev.conp.ca
ssh -p 33031 <username>@accounts-dev.conp.ca

also DB for portal-dev.conp.ca is on mariadb-dev.acelab.ca (MariaDB 10.3 dev cluster)

please refer to redmine ticket : https://redmine.cbrain.mcgill.ca/issues/16852

And I don't know if you

[2019-08-30 14:21] shots47s commented on #70
Thanks @andytengca, this is super helpful.  I am not sure what we would use datalad.conp.ca, so for now, you can decomission.  Can we start it back up if we have a need for it?

[2019-08-30 14:31] andytengca commented on #70
Sure. I will decommission the datalad-dev.conp.ca

all the portal-dev.conp.ca and accouts-dev.conp.ca VMs are backing up on a weekly basis and we keep recent 2 backups.

DB on portal-dev.conp.ca (called conp_portal_dev) is backing up on a daily basic and we keep the recent 6 backups.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://githu

[2019-08-31 11:19] jbpoline commented on #76
All datasets should be in the conp-pcno/conp-dataset - pointing (as submodules) to their original datasets - ie, repositories. Some but not all of these repositories are living - names are super confusing - on the github conpdatasets organization. As long as we have access to the datasets from conp-pcno/conp-dataset then we should be able to populate the portal.

[2019-08-31 11:33] jbpoline commented on #76
Note that it would require
1- `clone conp-dataset`
2- `datalad install .`  for all datasets ...

[2019-08-31 12:37] shots47s commented on #76
Thanks @jbpoline, really all we need in the repository is the metadata, so I would qualify your previous point with that there needs to be at a minimum the dats.json with the appropriate information to populate the front page.  Also there needs to be a means to access the data where it lives, whether it be through datalad or some other means.  Right now, the portal is storing a url to the data, wh

[2019-09-01 08:13] jbpoline commented on #76
@shots47s  : yes, the dats files are compulsery, tests should fail if they dont exist !
yes - there is a list - need to dig out where (in Jen's documents) but here they are
* the schema.org required fields (title + description)
* license / data usage agreement
* authors / contact
* doi
So, 5 required fields (we intentionally kept that to the minimal)

[2019-09-03 16:01] shots47s opened #78 "Adopt PEP8 coding standard for the project"
## Purpose
It would behoove us to adopt a coding standard to ensure that our code is well written and extensible.  I am open to suggestions, but PEP8 is pretty standard for Python based projects.  This would require us to run pep8 on code before we accept pull request.

https://www.python.org/dev/peps/pep-0008/
https://pypi.org/project/pep8/

Any opinions?

## Context
Coding standards are good!

[2019-09-03 16:40] jbpoline commented on #78
+1 on this
Also: can we recommend https://www.pylint.org/

[2019-09-03 16:51] driusan commented on #76
Is there any documentation somewhere about how they're currently statically created at install time?

It sounds to me like a simple cron job that does `git pull` would be sufficient based on the above thread, and I don't see why they would need to be *completely* dynamic if it's a significant amount more work for marginal benefit.

[2019-09-03 18:14] shots47s commented on #76
@driusan, thank you for the clarification.  Currently, the data is being populated from a manually created SQL dump file, so not dynamic at all.  When I say dynamic, I mean "created from the repo" or something like that, not something that is being populated by manual entry.  I would agree, some periodic updating through something like cron would be appropriate.

[2019-09-03 18:33] shots47s commented on #74
Hi all, in discussions with members of the overall Steering Committee, they are indicating that there is a desire to have it be a requirement to sign up for an account to access the data through the portal.  This is easy and personally, I don't think it is a big requirement.  So I think we should do this, they seem to think it is very important for funding going forward.

Now, if we make the data

[2019-09-03 19:46] shots47s commented on #78
Ok, I merged the PR and will now create a branch where we can work on PEP8 compliance.  We should probably focus on this for the next few days so that we can get all of the code up to date moving forward.

[2019-09-03 19:53] shots47s commented on #78
added pep8_compliance branch

[2019-09-04 02:24] glatard commented on #74
The hosting platforms should track the download. The central portal could only count those downloads initiated from the central portal.

[2019-09-04 11:10] shots47s commented on #78
Also, I think we should exercise the option for up to 99 character lines, 79 is too short.

[2019-09-05 12:38] jbpoline commented on #74
I'd say search would be done on the metadata, and those should not require login. We can try to push back on the steering committee but there were fairly strong opinions - the possible advantage is that we may get a bit more adoption on the push side with people happier to make data available in that context.
Question: should we push back ?

[2019-09-05 13:21] glatard commented on #74
Let's not push back and focus on doing it. Removing auth would be easy anyway and as @shots47s says it has to be implemented anyway.

[2019-09-05 13:24] shots47s commented on #74
I agree, lets freeze this and have it as the POR for the beta, we can always remove it.

[2019-09-05 14:59] jbpoline commented on #74
sounds good
JB

On Thu, Sep 5, 2019 at 9:24 AM Shawn Brown <notifications@github.com> wrote:

[2019-09-10 12:19] shots47s commented on #72
I have added this, look at app/cli.py, should get us started.

#81

[2019-09-10 12:19] #72 closed

[2019-09-10 12:20] shots47s commented on #78
Have added this to the Travis CI.

To test your code, you can use:
`pycodestyle --max-line-length=99 app/*.py app/*/*.py`

If this fails, so will TravisCI, need to update to find all python files with a find command, cause I am not a bash genius :)

[2019-09-10 12:20] #78 closed

[2019-09-10 12:21] #73 closed

[2019-09-10 12:21] #71 closed

[2019-09-10 17:40] shots47s commented on #74
Final decision is to require a login to download any datasets, and we will advocate later to remove this if it still desired.

[2019-09-10 17:40] #74 closed

[2019-09-10 18:07] shots47s commented on #68
PR merged, so this should be taken care of boutiques/boutiques#536.

[2019-09-10 18:07] #68 closed

[2019-09-12 14:36] liamocn opened #89 "Improve test coverage in pytest"
## Purpose
Having added the framework for testing the project, tests must now be added to increase overall test coverage

## Context
Test coverage can be monitored using coveralls, which has been added as part of #56

## Related issues (optional)
#56

[2019-09-23 12:59] shots47s commented on #75
Addressed by PR #91 and #88.  Closing.

[2019-09-23 12:59] #75 closed

[2019-09-23 13:14] shots47s opened #92 "Add login pages to the styleguide"
## Purpose
The login pages have a different base and need to be introduced into the styleguide.
## Context
So that we have a definitive styleguide for the whole website.

## Related issues (optional)
#88

[2019-10-01 11:29] shots47s opened #95 "Should updating pipelines add data to the database or should we rely on the file based search that is there now?"
## Purpose
The updating of pipelines data from Zenodo happens at add places in the portal workflow by spawning threads.  These leads to inconsistent datasets, and the file based nature of this seems a bit fragile.

## Context
Should we have all of the data for the portal translated to the database, so that we have models to manipulate or is it best to rely on the cache files that are occurring now

[2019-10-02 13:07] shots47s opened #96 "Download datasets from portal"
## Purpose
We want for users to be able to download datasets that they have authorization to download to be able to do so without additional logins.  Primarily, this is a currant issue for LORIS datasets, but also will need to be addressed for datasets in other platforms (e.g. BrainCode).

## Context
We want for users to not necessarily need to go to other platforms to get the data unless we truly

[2019-10-02 13:09] shots47s opened #97 "DatasetStats needs to be linked one-to-one to a Dataset model and dynamically update as actions happen in the portal"
## Purpose
Right now, there is no tie of the Stats to the Datasets, and they are not dynamically updated at all in the portal.

## Context
The stats should be updatable and validated to actions in the portal.

## Possible Implementation (optional)
We should tie the stats to the Dataset via a one-to-one relationship and add hooks in the portal to updating when actions occur.

[2019-10-02 14:04] glatard commented on #95
`bosh` pulls descriptors in `.boutiques` and this won't be changed. The portal-specific file could be added to the database indeed, if this file becomes an issue. There shouldn't be any concurrent access to the file though.

[2019-10-07 18:18] xlecours commented on #97
PR #99 is about the database schema.
I will work on the second part of the issue now.

[2019-10-07 19:35] xlecours commented on #96
@shots47s Should the user be redirected to LORIS? Or should the portal get a copy of the dataset and sent it to the user via HTTP?

[2019-10-07 19:44] jbpoline commented on #96
In general it would be nice to have a simple download (say a zip file that when unziped looks nice on the disk, eg a la BIDS) - but this may not be easy and for very large datasets (eg preventAD) it may be better to redirect and give access to the DQT. Any thought ?

[2019-10-28 16:10] driusan commented on #95
PR#105 and #103 fix the "spawning threads in odd places" issue and #104 fixes a (much more important) bug where the pipelines page was showing datasets instead of pipelines.

I'm not convinced that it's worth putting the data in the database instead of sharing the `~/.cache/boutiques` directory with bosh. There's currently an (unused) Pipeline database model defined in `app/models.py`, but the for

[2019-11-13 22:49] jbpoline opened #108 "next page on the dataset page leads to page undefined"
## Current Behavior
I am getting :
https://portal.conp.ca/undefined?page=NaN&max_per_page=undefined
when I click on the arrow to go to the next page

[2019-11-14 20:03] shots47s commented on #108
Yeah, actually, pagination on DataTables React component needs to be completely redone, it currently doesn't work.

[2019-11-27 15:36] PapillonMcGill opened #111 "dataset upload requirement checklist"
## Purpose
Ensure that when a user try to upload a new dataset, a message remind the user about dataset type  (open, restricted, registered, ...) requirement connect with CONP ethics and governance.

## Context
to respect ethics and privacy of people

[2019-11-27 15:41] PapillonMcGill opened #112 "display term of use before downloading registered dataset"
## Purpose
To ensure that people are aware of restriction to use registered data.

## Context
To help enforce ethics.

[2019-11-27 15:44] PapillonMcGill opened #113 "bring user to login (page) when clicking on a registered dataset while no logged-in"
## Purpose
To help in usability of the portal, and remind user that a dataset need registered access instead of letting them think it is just not available for some (unknown) reason.

## Context
users that are not logged-in can still see registered datasets but the icon to download is grayed out and unclickable.

[2019-11-27 16:39] PapillonMcGill opened #114 "Zenodo vs CONP access restriction"
## Purpose
Ensure that datasets submitted to CONP through Zenodo have equivalent access restriction.
Access restriction displayed and selected on Zenodo match what is advertized on CONP.

## Context
Zenodo has different restriction on access.

[2019-11-28 01:44] glatard commented on #114
Hi @PapillonMcGill, could you clarify what you mean by "compatible access restriction"?

[2019-11-28 15:02] 3design commented on #24
portal.conp.ca no longer has the neurolibre link on the left-side navigation. This link should point to:

neurolibre.conp.ca

with the following icons:

![neurolibre-icon](https://user-images.githubusercontent.com/16245024/69816324-1fa00900-11c6-11ea-9acb-13368fd77cba.png)
![neurolibre-icon (1)](https://user-images.githubusercontent.com/16245024/69816326-1fa00900-11c6-11ea-94eb-1b69593aa505.png)

[2019-11-29 22:03] glatard opened #118 "Dataset presentation in portal"
## Purpose

The synced view of Datalad datasets in the portal is awesome! But I think it would benefit from the following improvements:
* Find a way to show logos as it was a case before. We could check if a logo.{png,jpg} file is present at the root of the dataset
* If the DATS.json model has no title, use the title of the dataset (currently, the PERFORM dataset shows as "No title in DATS.json"

[2019-12-02 18:22] xlecours commented on #18
Hi @kchatpar , can you describe the changes required to make this work?

[2019-12-02 20:35] xlecours commented on #48
portal.conp.ca is online

[2019-12-02 20:35] #48 closed

[2019-12-02 20:47] xlecours commented on #76
https://github.com/CONP-PCNO/conp-portal/pull/120 and https://github.com/CONP-PCNO/conp-portal/pull/115 fixes this issue.

Datalad python module is used to clone https://github.com/CONP-PCNO/conp-dataset then install, update and merge its subdatasets.

This can be done with `flask update_datasets` and have been wrapped in a cronjob that run every 15 minutes.

The datasets details are read from the

[2019-12-02 20:47] #76 closed

[2019-12-02 20:49] xlecours commented on #97
For now, DatasetStats have been deleted. The information were hardcoded and static. Once this feature is unable, it should be link to one-to-one to a Dataset.

Leaving this Issue open to remind us that stats about Dataset downloads, likes and watch (whatever that mean) was a desirable feature.

[2019-12-02 20:55] xlecours commented on #118
The second point has been addressed by having the fallback value set to the dataset submodule directory name.
ec:
'projects/PERFORM_Dataset__one_control_subject' will have its title set to : 'PERFORM_Dataset__one_control_subject'

[2019-12-02 20:56] xlecours commented on #118
Regarding the first point : https://github.com/CONP-PCNO/conp-dataset/issues/116

[2019-12-03 03:14] paiva commented on #48
👏👏👏

On Mon, Dec 2, 2019, 3:35 PM Xavier Lecours <notifications@github.com>
wrote:

[2019-12-03 19:53] xlecours opened #123 "Have datatable pagination handled by the front-end"
## Purpose
Make a single request to get all the dataset/pipelines.
Have the front-end handle pagination without making new request each time.

## Context
lighten the back-end; empower the front-end

[2019-12-05 15:07] glatard commented on #118
For the naming thing, you could also clean up the title a little bit, for instance replace underscores with spaces, etc.

[2019-12-05 18:02] glatard opened #126 "Interface glitches"
Here is a list of a few glitches in the interface:

* Dashboard: color code isn't consistent (caption has datasets in blue, y axis has pipelines in blue). There is no green bar while there are pipelines and datasets available.

![Screenshot from 2019-12-05 10-08-54](https://user-images.githubusercontent.com/5174953/70247437-5be3e400-1747-11ea-94b7-e94b536af40c.png)

* Search
   - Should be called

[2019-12-05 18:04] glatard commented on #126
* Clicking on the CBRAIN icon in a dataset redirects to the home page.

[2019-12-05 19:37] #108 closed

[2019-12-09 16:16] kchatpar commented on #18
Take this dataset for example: https://portal.conp.ca/dataset?id=projects/1000GenomesProject buttons the download, eye and heart button could be an altmetric badge. To make this happen the dataset needs a DOI and you can generate the badge here: https://www.altmetric.com/products/altmetric-badges/

[2019-12-10 13:20] #118 closed

[2019-12-12 13:54] xlecours commented on #113
@PapillonMcGill is there a dataset with "registered access"?

[2019-12-12 13:55] xlecours commented on #123
to be revisited

[2019-12-12 13:55] #123 closed

[2019-12-12 13:57] xlecours commented on #112
we will display the terms of use at a visitor's first visit.
And use cookie to mark agreement

[2019-12-12 19:26] xlecours commented on #46
1. done.
2. done.
3. not done, downlaod is not happening through the portal. views can be captured. (to revisit when an analytics framework is add.)
4. done. Added access.landingPage for source in the DATS file.
5. Will be revisited once we have a restricted access dataset.
6. That is a desired feature. (we are not there yet)
7. It might be the case already. But we don't use that feature yet.

[2019-12-12 19:26] xlecours commented on #46
Closing this. Specific issues will be created for each desired feature.

[2019-12-12 19:26] #46 closed

[2019-12-12 19:33] xlecours commented on #54
Step #1 redirect to conp slack channel (we could create a channel fro thsat or use an existing one.)
Assigning @liamocn as discussed in December meeting.

[2019-12-12 19:38] xlecours opened #128 "Share button not working"
As a transitory step toward "automated" dataset sharing, we will write documentation about how to do it manually.
1. How to create a datalad dataset
2. How to write a DATS.json file
3. Where to send a PR (https://github.com/CONP-PCNO/conp-dataset)

Clicking on the "Share" button should display those instructions. Or it could be a link to a wiki page of https://github.com/CONP-PCNO/conp-dataset

Le

[2019-12-12 19:48] xlecours commented on #97
Closing. This has become a duplicate of https://github.com/CONP-PCNO/conp-portal/issues/14

[2019-12-12 19:48] #97 closed

[2019-12-12 19:55] xlecours opened #129 "Dataset summary box clean up"
Here is how it looks at the moment.
<img width="1109" alt="Screen Shot 2019-12-12 at 2 49 57 PM" src="https://user-images.githubusercontent.com/12155214/70743919-b86a7480-1cee-11ea-89b9-518118163493.png">

Requested changes:

- [x] Date Added : do not displayed anymore
- [x] Downloads (@liamocn to look what can be done “short term”)
- [x] Watch (to be removed for now)
- [x] Like (remove from now,

[2019-12-12 20:00] xlecours opened #130 "Pagination missing "compiled" js from #121"
https://github.com/CONP-PCNO/conp-portal/pull/121 was send without the corresponding  compile js files.

[2019-12-12 20:14] xlecours opened #131 "Dashboard fixes"
- [x] The pipelines and datasets counts needs to be dynamically queried instead of hardcoded.
- [x] The colour code isn't consistent (caption has datasets in blue, y axis has pipelines in blue).
- [x] Swap Y axes to be in line with “Datasets and Pipelines” going from left (datasets) to right (pipelines).
- [x] Remove "Browse Datasets" and "Share a dataset" from under the graph.
- [x] Make sure but

[2019-12-12 20:36] xlecours opened #132 "Download metadata button not working"
Until metadata is defined, have the button send the DATS.json

[2019-12-12 20:42] xlecours opened #133 "Adapt dataset_update to standardized DATS.json following #125"
PR https://github.com/CONP-PCNO/conp-dataset/pull/125 send on conp-dataset specifies DATS properties to display logo, Files, Size, Subject, Sources and Format.

Once the PR is merge, use those values in dataset summary box and detail page

[2019-12-12 20:47] xlecours opened #134 "Download options - "prettyfy""
- [x] Add link to datalad install (https://www.datalad.org/get_datalad.html)
- [x] Make the command lines looks like commands. Use fieldset or at least a div border around the pre html element.
- [ ] Add python code snippet

[2019-12-12 20:51] xlecours opened #135 "Relabel "Search" side bar label to "Data""
Relabel "Search" side bar label to "Data"

[2019-12-12 20:53] xlecours commented on #126
@glatard closing this for more granular issues:

- Dashboard :: https://github.com/CONP-PCNO/conp-portal/issues/131
- Search: https://github.com/CONP-PCNO/conp-portal/issues/132, https://github.com/CONP-PCNO/conp-portal/issues/129 and https://github.com/CONP-PCNO/conp-portal/issues/135
- Share button: https://github.com/CONP-PCNO/conp-portal/issues/128
- Clicking on the CBRAIN icon: https://github

[2019-12-12 20:53] #126 closed

[2019-12-12 21:00] xlecours opened #136 "Pipelines sort options"
Add a few sort options: Name, (any relevant criteria)

[2019-12-12 21:01] xlecours commented on #134
Also, test download options for all datasets.

[2019-12-13 11:55] PapillonMcGill commented on #113
@xlecours Not to my knowledge.

[2019-12-13 16:45] glatard commented on #113
isn't PreventAD registered access?

[2019-12-13 17:40] PapillonMcGill commented on #113
The one currrently on CONP-dataset is open. There is plan to put a restricted version with more data but it is not yet there.

[2019-12-17 21:25] #130 closed

[2019-12-17 21:26] #129 closed

[2019-12-17 21:27] #131 closed

[2019-12-17 21:27] #135 closed

[2019-12-17 21:29] xlecours commented on #133
Fixed by https://github.com/CONP-PCNO/conp-portal/pull/137

[2019-12-17 21:29] #133 closed

[2019-12-17 21:30] xlecours commented on #132
Fixed by https://github.com/CONP-PCNO/conp-portal/pull/137

[2019-12-17 21:30] #132 closed

[2019-12-18 03:04] jbpoline opened #142 "click on "go to dataset" on "newest dataset release" leads to "internal error""
## Expected Behavior
Should redirect to prevent AD

## Current Behavior
"internal server error"

[2019-12-19 17:29] xlecours opened #143 "Dashboard page changes request"
- Set title to `Cumulative Number of Datasets and Pipelines in 2019`
- Remove `CONP` from the chart legend (`CONP Datesets` -> `Datasets`, idem for pipelines)
- Change STUDY SPOTLIGHT

[2019-12-19 17:41] xlecours commented on #128
@liamocn Can you :

- [ ] add the "Share" button back
- [ ] add a template file that contains https://github.com/CONP-PCNO/conp-documentation/blob/master/CONP_main_data_documentation.htm (quick fix)

keep that issue open to find a better solution for content updates.

[2019-12-19 17:52] xlecours opened #145 "Data and Pipelines"
- [x] Do not display properties when there is no value

[2019-12-19 18:46] xlecours commented on #142
"newest dataset release" as been removed for now. (it was hardcoded)
We will make sure that the link to the dataset works if it needs to be implemented.

[2019-12-19 18:46] #142 closed

[2019-12-19 18:49] driusan commented on #136
The only other relevant thing I could find in the data returned was Pipeline ID. Author might be relevant if it were displayed on the front end, but since it's not having it as a sort option would be confusing.

[2019-12-20 16:03] #136 closed

[2019-12-20 18:11] xlecours commented on #134
PR sent : https://github.com/CONP-PCNO/conp-portal/pull/150
It addresse the first two points.

[2020-01-06 18:39] #145 closed

[2020-01-06 18:40] #143 closed

[2020-01-06 18:40] #134 closed

[2020-01-06 18:41] #128 closed

[2020-01-15 16:42] glatard opened #152 "Link to instructions for data upload is broken"
Link to instructions for data upload, referenced at https://portal.conp.ca/share, is broken.

## Expected Behavior
Link should refer to a page explaining how to upload data, using DataLad directly or through Zenodo.

Suggested page: https://github.com/CONP-PCNO/conp-dataset/blob/master/.github/CONTRIBUTING.md

## Current Behavior

Link points to https://portal.conp.ca/datalad_dataset_addition_proc

[2020-01-15 18:00] emmetaobrien commented on #152
I have just submitted https://github.com/CONP-PCNO/conp-documentation/pull/8 which fixes these links.

[2020-01-15 20:22] PapillonMcGill opened #153 "Create a table of dataset with status"
have 3 status:
CONP funded
Canadian dataset
External dataset (not canadian)

To be done by Naser

[2020-01-15 20:24] PapillonMcGill opened #154 "Write a new page for CONP_main_documentation.htm"
To meet all requirements (To be added)

To be done by Naser.
Show Naser how to use GitHub and create MD files

[2020-01-15 20:32] glatard commented on #153
Not sure how this table will be used, but if the idea is to represent these datasets differently in the portal, it might be better to add this information to the DATS model, and have the portal parse it.

[2020-01-16 13:59] PapillonMcGill commented on #153
It is a request by @samirdas to promote CONP funded datasets.

[2020-01-17 17:47] xlecours opened #155 "Only look for datasets in projects and investigators directories"
`app/cli.py::_update_datasets` prints this error:

[2020-01-22 17:24] xlecours commented on #153
- DATS.json now contains the information as per https://github.com/CONP-PCNO/conp-dataset/pull/149
- @liamocn is working on using that information on the portal by displaying a canadian flag for   `DATS.json::extraProperties[@category="CONP_status"].values.value` is `CONP` or `Canadian` (missing value will default to `external` which won't display the canadian flag. ) PR to be sent shortly

[2020-01-22 17:47] xlecours commented on #152
@emmetaobrien I am not opposed to link to conp-dataset/CONTRIBUTING.md instead of having to manage 2 location for the contribution instructions. Do you see benefits in having the conp-documentation repo in addition to dataset contribution instructions?
I think we can keep the https://github.com/CONP-PCNO/conp-portal/blob/master/app/templates/share.html page but rearrange it's content to link to CO

[2020-01-22 17:48] xlecours commented on #152
I had to send https://github.com/CONP-PCNO/conp-portal/pull/157 to fix the portal version of that file

[2020-01-22 21:01] xlecours commented on #112
- [ ] Get the term of use content (Issue : to be created)
- [ ] have a modal window that display terms of use and store a cookie; if the cookie is not sent in the request. (Issue : to be created)

[2020-01-22 21:04] xlecours opened #158 "Write the term of use content to display"
This issue is to generate the term of use to display to the user upon first visit.

@PapillonMcGill I think this should be done with Naser

[2020-01-22 21:06] xlecours opened #159 "Modal window for term of use agreement"
Display a modal window asking to agree to CONP portal term of use.
When the user accept, store the agreement in a cookie for the browser to sent in the next visit.
If the cookie is sent, do not display the term of use.

[2020-01-23 16:20] xlecours commented on #113
We got a confirmation from @jbpoline that PREVENT-AD would agree to grant access to any user that can authenticate with ORCID.

Not quite sure how to handle that.

Option 1 (server side). since the access policy is a per resource server limitation, te resource server (LORIS in this case) should handle their policy; OAuth via ORCID. We sould need to change the datalad provider in the datatset from

[2020-01-23 20:38] xlecours opened #162 "Dashboard chart should extend further than 2019"
We are in 2020 and there might be new datasets...
The chart should not be limited to 2019

[2020-01-24 14:43] xlecours opened #164 "Dataset logos can be an url"
An url is a valid value for a dataset logo.
ex: PERFORM

[2020-01-24 17:21] xlecours opened #167 "Term of use cookie should not expire at session exit"
## Purpose
To not display the term of use modal window when a user, that already accepted it, close then reopen a browser window.

Please add `;expire=` to the cookie string

[2020-01-24 17:36] xlecours opened #168 "Dynamic study spotlight"
The study spotlight on the dashboard is hardcoded as prevent-ad and the description is not dynamically generated from the DATS.json file.

1. Make the content dynamically generated
2. Should the selected study be "randomized"??

[2020-01-24 19:14] emmetaobrien commented on #168
if I recall correctly, Alan was quite keen that we spotlight CONP datasets and particularly Prevent-AD ahead of our current set of external datasets, at least for the moment, so I would suggest keeping this as is until we start incorporating new datasets with similarly high profiles (which UK Biobank or Mousebytes may be in due course.)

[2020-01-27 17:55] #159 closed

[2020-01-27 17:56] #153 closed

[2020-01-29 14:51] glatard opened #170 "Layout details in dataset page"
* Spaces are missing after `:` (after Authors, Contact, etc)
* Version isn't presented the same was as Authors, Contact (newline and no `:`)
* Title box of "Download options" is not well aligned and doesn't respect the graphical identity

See attached screenshot.
![Screenshot from 2020-01-29 09-42-14](https://user-images.githubusercontent.com/5174953/73367098-fb6faf80-427c-11ea-8a9d-ab93a2aa9c93.p

[2020-02-05 17:48] glatard commented on #162
In addition:
* The number of datasets seems to be wrong, even for Dec 2019
* The dashboard shouldn't start before any data was available: it should start at the date of the first pipeline or dataset addition

[2020-02-14 14:01] #170 closed

[2020-02-14 14:08] glatard opened #172 "Layout details"
A few suggestions for minor layout improvements in dataset pages.
1. If fields contain HTML text (description in the example below), format them properly.
2. If fields URLs (source in the example below), make them hyperlinks.
3. If fields have no value (contact and subject in the example below), omit them instead of showing 'None'.
4. Convert file size from B to KB or MB or GB depending on the act

[2020-02-19 15:57] glatard opened #174 "Numbers in the dashboard are wrong"
The dashboard doesn't report the right number of datasets or pipelines.

## Expected Behavior

Dashboard should report the current number of datasets and pipelines.

## Current Behavior

Pipelines are not reported. Number of datasets is wrong: it is currently 10 while the actual number of datasets is 23.
![Screenshot from 2020-02-19 10-55-12](https://user-images.githubusercontent.com/5174953/74849

[2020-02-24 16:02] emmetaobrien commented on #174
I would suggest removing "in 2019" from the graph header.

[2020-02-24 16:15] liamocn commented on #174
Good point :)

[2020-02-27 18:15] liamocn opened #177 "Fetch content for share page from conp-documentation"
## Purpose

Fetch content for the share.html from the relevant page in conp-documentation, instead of using the static content.

## Context

This will allow for changes to the documentation to be updated within the portal without a code change

## Possible Implementation (optional)

Make a GET request for the documentation from within the Flask router, prior to rendering the template. Pass the res

[2020-02-28 15:26] emmetaobrien opened #179 "Minor issues and potential corrections on front page"
Corrections:
1. The Github link at the bottom left of the page does not go anywhere.
2.  Under Study Spotlight, two instances of "Alzheimer Disease" in the description paragraph should be standardised to "Alzheimer's Disease".

Suggestions for other textual changes:

1. In the last sentence of the Study Spotlight paragraph, change "intention to contribute to" to "intention of contributing to".
2.

[2020-02-28 16:41] emmetaobrien commented on #179
Resolved by https://github.com/CONP-PCNO/conp-portal/pull/180.

[2020-02-28 16:41] #179 closed

[2020-02-29 21:15] glatard opened #181 "Download options truncates long names"
Long dataset names are truncated in the Download Options box, which makes download commands invalid. For instance, for dataset `MRI_and_unbiased_averages_of_wild_muskrats__Ondatra_zibethicus__and_red_squirrels__Tamiasciurus_hudsonicus_`:

![Screenshot from 2020-02-29 16-12-27](https://user-images.githubusercontent.com/5174953/75615171-8eb33380-5b0e-11ea-9804-0bd68d79f64c.png)

[2020-02-29 21:31] glatard opened #182 "Show dataset authentication status in the portal"
## Purpose

DATS models have recently been extended with an authorization field, that can be "public", "registered" or "private". It would be useful to represent that in the portal, with some kind of icon that could be next to the Canadian flag.

## Context

This would allow users to quickly identify which datasets can be downloaded without authentication.

[2020-02-29 21:35] glatard opened #183 "Comprehensive search"
## Purpose

Several DATS fields cannot be searched from the portal. For instance, searching for "Microscopic" or "MINC" doesn't return the Big Brain dataset while these terms are in its DATS model. Search should work as a `grep` operation in all DATS models, i.e., return all the datasets containing the search string in any of the DATS fields.

## Context

It would improve the search experience in

[2020-03-03 17:31] #152 closed

[2020-03-03 17:31] #162 closed

[2020-03-03 17:31] #167 closed

[2020-03-03 17:31] #172 closed

[2020-03-03 17:31] #177 closed

[2020-03-04 14:46] xlecours commented on #174
@xlecours Let's check that

[2020-03-04 15:20] glatard opened #184 "Show portal version in portal"
## Purpose

The portal should display the portal version somewhere in the GUI, preferably using the first characters of the current commit, so that we know where the deployed portal stands and what features or bug fixes it is supposed to implement.

## Context

When an issue is closed but the deployed portal doesn't seem to implement it, we have no way to check if the portal hasn't been deployed,

[2020-03-04 18:33] jbpoline opened #185 "A popup agreeing with the terms of the license"
## Purpose
A popup needs to appear with  "I agree to comply with the terms of the license associated with this dataset" when download is requested (ie when clicking on the dataset title).

## Context
Necessary for release

[2020-03-04 19:32] glatard commented on #174
Since the pipelines were removed, maybe "and pipelines" could be removed from the header.

[2020-03-05 16:15] ycAbout opened #186 "More meta data for data (may be kaggle like tables)"
## Purpose
To make conp more usable to researchers

## Context
Datasets are large (many G), people cannot get much information before they download the data in the current way. People need to know more about the data beforehand.

## Possible Implementation (optional)
Like a kaggle dataset, list summary information in a table that can directly viewed from the front end.

[2020-03-05 16:21] glatard commented on #186
I think a good goal would be to represent as many elements from the DATS model as possible, including access policy (see also #182).

[2020-03-05 18:36] liamocn commented on #182
Can you give a better idea of the difference between 'registered' and 'private', and what type of icons you think might be suitable? I think using padlocks or security type icons might be a little heavy for an open science project.

[2020-03-05 18:51] glatard commented on #182
* private means that you need to negotiate custom credentials with the platform hosting the data
* registered means that the dataset is accessible using a CONP portal login (not available yet)

[2020-03-11 13:55] glatard commented on #186
Using tags in the dataset page might also be a good graphical way to do it.

[2020-03-11 13:58] glatard commented on #168
Closing, please re-open if needed.

[2020-03-11 13:59] glatard commented on #158
Waiting for the terms of use.

[2020-03-11 14:02] glatard commented on #185
Duplicate of #158.

[2020-03-11 14:02] #185 closed

[2020-03-11 14:03] glatard commented on #112
Duplicate of #158

[2020-03-11 14:03] #112 closed

[2020-03-11 14:12] #114 closed

[2020-03-11 14:13] glatard commented on #111
This is implemented in tests, through DATS schema, and PR template. Please re-open if needed.

[2020-03-11 14:13] #111 closed

[2020-03-11 14:29] #95 closed

[2020-03-11 14:31] glatard commented on #96
See specification in https://github.com/CONP-PCNO/conp-portal/wiki/Data-download-mechanism-from-CONP-portal

[2020-03-11 14:33] #57 closed

[2020-03-12 14:46] emmetaobrien opened #187 "Download instructions on individual dataset page problems"
Testing the download commands on the pages for each individual dataset has shown that they are at best unclear and easily do not work.  I propose replacing the text under the line

`# Here are commands to download content from this dataset`

with something along the lines of

`datalad install -r <name of dataset repository>`
`cd <name of dataset repository>`
`datalad get <files of interest>`

Is t

[2020-03-12 15:00] emmetaobrien opened #188 "Minor correction to graph on front page"
The header of the bar chart on the front page still says "Cumulative Number of Datasets and Pipelines" although it no longer contains any data for pipelines.  Also,  if there is only one set of bars, I am not sure that needs to be labelled below the graph as well as in the title and mouse-over text.

[2020-03-12 15:12] glatard commented on #187
Updates in the instructions sound good, as long as they are tested and work well.

There is no problem installing the DataLad dataset for datasets with restricted access, as the hosting platforms enforce authentication.

[2020-03-12 15:18] glatard opened #189 "Forums button is "coming soon""
The forums button points to a page which is still under construction. We should either redirect to a working forum, or just remove that button.

[2020-03-12 15:27] emmetaobrien commented on #187
That prevents people from downloading the content of links; I was just wondering whether there might be an issue with unauthorised download of dataset directory structures, or unannexed small files (such as text summaries of data) that will be stored directly in the repository and could be retrieved without linking to the host platform.

[2020-03-13 14:14] xlecours commented on #187
I can see a potential issue with the recursive installation of all datasets. Whit just a few datasets we are still under 1 minute but it could take a few minuets when we have many more than 50 datasets. This is the reason why I have split the the install process in 2.

[2020-03-18 03:29] jbpoline commented on #158
See PR #194

[2020-03-18 12:47] cmadjar opened #193 "Share page could use some spacing between paragraphs, too dense"
## Expected Behavior

- Spacing between section titles and paragraphs.
- Bullet lists should be represented as bullet lists.

## Current Behavior

The Share page of the CONP portal is too dense. Need spacing between paragraphs, titles etc

Bullet point lists are not displayed as lists but stacked in the paragraph making it hard to read.

[2020-03-18 12:50] cmadjar opened #194 "Documentation to be finalized for the release of the portal"
## Action items

- [x] remove the Help link at the top right of the portal
- [x] revamp the Share page to be a link to the FAQ which will all point to different documented sections

[2020-03-18 12:59] emmetaobrien commented on #193
This is fixed in https://github.com/CONP-PCNO/conp-documentation/pull/12

[2020-03-18 13:17] xlecours commented on #158
@jbpoline #194 is not a PR but an issue

[2020-03-18 13:19] xlecours commented on #158
Got it, #192 is the PR

[2020-03-18 14:00] glatard commented on #187
Suggested revised instructions, including installation of the main dataset (not recursively):
`
datalad install https://github.com/CONP-PCNO/conp-dataset.git
cd conp-dataset
datalad install projects/<dataset_dir>
datalad get <file_name>
`

[2020-03-18 15:51] cmadjar commented on #187
FYI - just tested the instructions that @glatard posted and works like a charm!

[2020-03-23 16:11] johnsaigle opened #198 "Footer displays 2019 as year; should use current year"

[2020-03-24 14:58] yarikoptic commented on #187
I want to echo @glatard and think instructions should be improved further -- you might also would like to provide the dataset specific (not going through super-dataset) commands.  ATM they seems to be erroneous in two aspects: looking at https://portal.conp.ca/dataset?id=projects/bigbrain-datalad current instructions are:
[code]

1. unfortunately `datalad get` command wouldn't work with `datalad >

[2020-03-24 18:27] cmadjar commented on #193
@emmetaobrien I see that the Share page has been updated on the portal, however the items of lists are not shown as:
- item 1
- item 2
- item 3

but as:
item 1
item 2
item 3

Would it be possible to add bullet points in front of the list items? Could you look into it?

[2020-03-24 18:29] cmadjar commented on #188
@emmetaobrien @liamocn

It looks like this has been taken care of in the merged PR but somehow this does not show in the dashboard of the portal. Are there extra steps that need to be done for those changes to be pulled on the portal?

[2020-03-24 18:33] emmetaobrien commented on #193
That's odd; there must be something in the css changing the default formatting for <li> tags.  I will set that specifically now.

[2020-03-24 18:34] cmadjar commented on #194
@emmetaobrien @liamocn @xlecours @glatard
If I remember correctly, during last Wednesday's call, we discussed about the possibility to remove the WIKI page and instead have the Help link of the portal point to other documentation.
To which documentation should this points to?

Would be good to have the link correctly before the official release.

[2020-03-24 18:43] cmadjar opened #200 "Sorting tools and pipelines by title should be case insensitive"
## Expected Behavior

When sorting tools and pipelines by title, one would expect that it to not be case sensitive.

## Current Behavior

After sorting tools and pipelines by title, tools and pipelines starting with a capital letter are listed first and follow several pages later by tools and pipelines starting with a lower case letter.

## Context (optional)

This issue was reported by Naser when

[2020-03-24 18:48] emmetaobrien commented on #193
Should be fixed by https://github.com/CONP-PCNO/conp-documentation/pull/19.

[2020-03-24 18:51] emmetaobrien commented on #188
Yes; the updated portal code needs to be deployed, which I believe currently only @xlecours and @PapillonMcGill have the appropriate access to do.

[2020-03-24 18:51] cmadjar opened #201 "Include "date added" and "date updated" to dataset rows"
## Purpose

There is a possibility to sort datasets by "date added" and "date updated", however, this information is not available anywhere in the dataset rows. Would be good to add those values to the dataset rows for two reasons:
- make it more intuitive for the user to see the information
- would allow us to ensure the sorting is properly done

## Context

The following was reported by Naser wh

[2020-03-24 18:55] cmadjar opened #202 "Sorting by size does not seem to work properly"
## Current Behaviour

Sorting datasets by size does not seem to work properly, datasets go from 117GB to 13.9GB (see example below in the screenshot). Many other inconsistencies found across the dataset.

## Context (optional)

This issue was reported by Naser when he reviewed the portal before release:

[2020-03-24 19:03] emmetaobrien commented on #201
1000GenomesProject could legitimately have the earliest date added to the current implementation of CONP dataset storage, depending on where the portal reads that from, because it was the test case I used for establishing dataset management procedures.

[2020-03-24 19:18] cmadjar commented on #193
Thanks! Waiting to see the final results on the portal before closing this issue.

[2020-03-25 03:25] jbpoline commented on #187
Thanks @yarikoptic !
Also, Instructions for installation should point to the DL handbook : this is the place where install documentation is most likely to be updated

[2020-03-25 12:45] cmadjar commented on #187
@jbpoline about the instructions on how to install datalad, this PR was merged yesterday so that we point to the DataLad handbook: https://github.com/CONP-PCNO/conp-documentation/pull/18

@yarikoptic I went through most of the handbook, congrats on the amazing documentation!!! Makes it easy to understand how DataLad works :).

[2020-03-25 13:11] xlecours commented on #194
I know that Santiago made a preliminary setup for readthedoc using sphynx. https://github.com/CONP-PCNO/conp-portal/tree/master/docs

[2020-03-25 13:35] xlecours commented on #187
https://github.com/CONP-PCNO/conp-portal/blob/master/app/templates/dataset.html#L60

[2020-03-25 13:41] xlecours commented on #187
PR Sent

[2020-03-25 13:58] glatard commented on #202
Sorting by numbers should be in descending order instead of ascending order, so that the largest datasets come first.

[2020-03-25 14:36] cmadjar opened #205 "Remove sorting capabilities for Modality, Format and Source"
## Expected Behavior

Remove sorting capabilities for Modality, Format and Source. Instead add those DATS fields to the search engine so one can filter for datasets containing MINC etc...

## Context (optional)

Discussed during the CONP Dev call of March 25th.

[2020-03-25 14:42] cmadjar commented on #174
Closing this issue. The remaining title modification has been taken care of in PR #191 that was merged. Also the title issue was duplicated in issue #188 so will only keep 188 open until the changes are pulled on the portal.

Feel free to reopen if I missed something though.

[2020-03-25 14:42] #174 closed

[2020-03-25 14:43] cmadjar commented on #205
Links to the following issue regarding adding DATS fields in the search https://github.com/CONP-PCNO/conp-portal/issues/183

[2020-03-25 14:54] emmetaobrien commented on #205
I am at this point sure the DATS fields are consistently structured for finding this data, but there may well be places where the content is not what someone familiar with the dataset would expect, e.g. Naser mentioned SIMON and the recently generated derived BigBrain not having MRI listed as a modality.  It is straightforward for me to update any cases here; in the case of SIMON I believe @glatar

[2020-03-25 14:57] cmadjar commented on #194
Link to @emmetaobrien's FAQ PR: https://github.com/CONP-PCNO/conp-documentation/pull/15

Link to issue https://github.com/CONP-PCNO/conp-documentation/issues/16 to add pipelines and tools questions to the FAQ

[2020-03-25 14:59] cmadjar opened #206 "Add contextual help on each page of the portal"
## Purpose

Would be nice to add contextual help on each page of the portal (a bit like it is done on the LORIS help sections).

## Context

Discussed during CONP dev meeting of March 25th, 2020.

[2020-03-25 19:30] cmadjar commented on #187
Thank you @xlecours. Closing the issue since the instructions have been updated on the portal

[2020-03-25 19:30] #187 closed

[2020-03-25 19:38] cmadjar opened #208 "Disable link for greyed out CBrain buttons"
## Purpose

When a user clicks on a grey CBrain button, they are getting redirected. Instead, we should disable the ability to click on a grey CBrain button to avoid any confusion.

## Context

Discussed during the CONP dev call of March 25th, 2020.

[2020-03-25 20:03] cmadjar opened #209 "Add a detailed page for pipelines and tools"
## Purpose

Add a detail page when clicking on a pipeline or tool row to see more details about the pipeline. Same behaviour as for the dataset with boutiques pipeline execution details laid out to the user like the datalad download instruction for the dataset page.

## Context

Discussed during the CONP dev meeting of March 25th, 2020.
Not critical for the upcoming release

[2020-03-26 17:21] liamocn commented on #194
@cmadjar I'm a little unclear about this. Does this remove the share page and replace the 'Share' action in the sidebar with an 'FAQ' action which links externally to the FAQ?

[2020-03-26 18:02] cmadjar commented on #194
That is what I understood from yesterday's call. @emmetaobrien Do you agree?

[2020-03-26 18:22] emmetaobrien commented on #194
Yes, I believe that is what we are meant to do.

[2020-03-27 12:19] glatard opened #211 "Remove account icons from pipeline list"
All pipelines are public, these icons aren't necessary:
![Screenshot from 2020-03-27 08-16-30](https://user-images.githubusercontent.com/5174953/77755412-9f6aa280-7003-11ea-826c-1e18d966a84a.png)

[2020-03-30 15:40] cmadjar commented on #194
@emmetaobrien @liamocn @samirdas @glatard @jbpoline I just had a call with Derek and Jessica this morning and we happened to mention the portal.

Last week, during the CONP dev meeting, we all decided to remove the Share button and page and replace it with a FAQ.

Derek and Jessica strongly feel that we should keep the "Share" button/page and add an FAQ button instead. They prefer that the button

[2020-03-30 16:47] 3design commented on #194
The rational to keep the share button is so that, at a glance, users can see that there is/will be a way to share their datasets and tools.

This can still land on a placeholder page with a quick overview of what is planned (the ability to share data or tools), and a link out to the FAQ or other documentation.

If this button isn't present, then the user may never know that this function is availa

[2020-03-30 18:34] emmetaobrien commented on #194
The logic of making that visible makes sense to me, and I suppose a button is a good way to do it.

[2020-03-31 17:36] cmadjar opened #217 "Missing information on the dataset page that a user needs to create a LORIS account for LORIS-based datasets"
For the multi-center phantom and PREVENT-AD dataset pages, there should be an information to mention that in order to have access to those datasets, one require to request an account on their respective LORIS database and that they will be asked for that account information when downloading data through DataLad.

[2020-03-31 17:44] cmadjar opened #218 "Cannot download datalad datasets with loris-token on a clean install on Ubuntu"
On a brand new Ubuntu 18.04LTS VM, datasets with loris-token cannot be downloaded. The `datalad get file` command never asks for a username/password.

Instead it gives the errors attached as a screenshot:
- for multicenter-phantom dataset
![Screen Shot 2020-03-30 at 4 57 29 PM](https://user-images.githubusercontent.com/1402456/78057863-65780400-7355-11ea-933a-7c013e12e50e.png)

- for preventad-ope

[2020-03-31 17:44] cmadjar commented on #218
Not sure this is the right repo for the bug.

[2020-03-31 18:46] glatard commented on #218
@mathdugre, do you know how to make sure that datalad logs in to LORIS?

[2020-03-31 21:00] cmadjar commented on #218
Looks like the issue I was having was due to the fact that the default datalad version installed on Ubuntu using `sudo apt-get install datalad` is 0.9.3. Looks like the loris-token part of datalad was developed after that version and fully functional as of v0.11.4 of datalad.

Updated the install on my Ubuntu machine by installing datalad via Miniconda and that fixed the issue since the version of

[2020-04-01 03:07] jbpoline commented on #218
Hi @cmadjar : which version of ubuntu ? see below with a fresh install on 18.04 (the current LTS)

t-jb:~$ sudo apt-get install datalad
[sudo] password for jb:
Reading package lists... Done
[....install ... ]
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
t-jb:~$ datalad --version
datalad 0.12.4
t-jb:~$ git-annex version
git-annex version: 7.20190819+git2-g908476a9b-1~ndall+1
[....]
t-jb:~$

[2020-04-01 12:23] cmadjar commented on #218
I did the install on ubuntu 18.04LTS using `sudo apt-get install datalad` like you but instead got DataLad version 0.9.3.
Not sure why we get different versions with the same system.

![Screen Shot 2020-04-01 at 8 22 27 AM](https://user-images.githubusercontent.com/1402456/78136700-1502b400-73f2-11ea-82d7-09132ed75f09.png)
![Screen Shot 2020-04-01 at 8 22 41 AM](https://user-images.githubuserconte

[2020-04-01 13:58] xlecours commented on #158
This is resolved.

[2020-04-01 14:42] #158 closed

[2020-04-01 14:48] cmadjar commented on #217
Will be adding those instructions via the DATS model. Add a new tag with the URL of the LORIS instance that should be clicked on to request an account.

@emmetaobrien @glatard I added the blocking release tag as this should be clarified before the release. Let's talk in the next couple of days on how to do that.

[2020-04-01 14:48] #194 closed

[2020-04-01 14:52] cmadjar opened #220 "[UI] display the MD file read from Github in the portal layout"
## Purpose

At the moment, the FAQ button opens a new tab in the browser to the Github MD file. Investigate how to display the content of that MD file within the portal. There should be no duplication of data, read the MD file from Github and display it in the portal.

Note, this will also need to be done with the Share button once it is back on the portal.

[2020-04-01 14:54] cmadjar opened #221 "Terms of use - do not allow users to dismiss the terms of use pop up"
It should not be possible to dismiss the terms of use on the CONP portal. Need to remove the cross at the top right of the pop up window so that users cannot dismiss the terms of use and then navigate through the portal

[2020-04-01 14:55] cmadjar commented on #221
@xlecours since you sent the PR for the terms of use, would you mind taking a look into this one? Thank you!

[2020-04-01 14:57] cmadjar opened #222 "Add a link to the terms of use in the top bar of the portal"
In the terms of use it is mention that at any point users can review the terms of use however there is no links to allow display of the terms of use.

Add a link in the top bar of the portal so that users can access the terms of use whenever they want.

[2020-04-01 15:03] cmadjar opened #223 "Add a button share that points to the documentation on how to share"
## Purpose

In the left bar, add the share button back but make it point to the following documentation https://github.com/CONP-PCNO/conp-documentation/blob/master/datalad_dataset_addition_procedure.md

[2020-04-01 15:14] cmadjar opened #224 "[UI] Make the instructions for pipelines and tools more visible"
In the Tools & Pipelines page, there are links at the top of the page with the instruction on how to run the tools. Those are important information and need to be highlighted better.

Maybe two buttons?
- one with a link to the 'tutorial on how to download and run the tools'
- one with a link to the instructions on how to add your own tool to the portal

[2020-04-01 18:47] cmadjar commented on #201
I can see the dates on the datasets now. Thank you @liamocn this is great! Closing the issue.

[2020-04-01 18:47] #201 closed

[2020-04-01 19:58] #70 closed

[2020-04-01 21:00] cmadjar commented on #218
Created an issue on the DataLad handbook repository as this is more related to DataLad install than the portal. Link to the issue: https://github.com/datalad-handbook/book/issues/441.

in the meantime, documentation was added in the FAQ regarding the need to have version 0.12.2 or higher of DataLad installed in order to download datasets with loris-token. Closing this issue for now. To be followed

[2020-04-01 21:00] #218 closed

[2020-04-01 21:04] cmadjar commented on #217
Current DATS for preventad-open (only the distributions part):
[code]

Current DATS for multicenter-phantom:
[code]

@glatard @emmetaobrien How do you suggest we modify the DATS schema to integrate a phrase in the dataset page about where to request an account for datasets requiring authorization?

[2020-04-01 22:00] cmadjar opened #225 "DataLad commands for openpain datasets incorrect"
The DataLad instructions are incorrect for all subdatasets of the openpain project.

Current installation information:
[code]

But in reality, it should be:
[code]

Basically, there should be a `/` between `openpain` and `subacute_longitudinal_study` in line 3 and 4 of the copy-pasted code above.

[2020-04-02 01:21] glatard commented on #217
I like the idea of just redirecting to the landing page, where all relevant infos including how to get an account would be found. So I think the portal should just display that link as the place to get an account for private datasets.

[2020-04-02 13:08] liamocn commented on #211
PR #215 should resolve this issue

[2020-04-02 13:09] liamocn commented on #202
PR #205 resolves this issue

[2020-04-02 13:10] cmadjar commented on #217
OK. So for datasets with authorizations=private, could we add a row in the dataset page:

`Request account available in the source site` ? This way it is automatic based on the DATS model (if field=private, then show that message) but a little clearer to the user that it is what they need to do.

Note: the phrasing can definitely be changed to something better. Just a suggestion for now, we'll wor

[2020-04-02 13:15] liamocn commented on #181
This has been resolved

[2020-04-02 13:19] cmadjar commented on #181
I just looked at the portal and I still see an issue about this (see screenshot). Does that mean that the portal needs to be updated?

![Screen Shot 2020-04-02 at 9 16 41 AM](https://user-images.githubusercontent.com/1402456/78253852-0a641f80-74c3-11ea-83ac-e5e5f23458f8.png)

[2020-04-02 13:22] emmetaobrien commented on #217
That sounds good to me.

[2020-04-02 13:32] liamocn commented on #181
Here's what it looks like for me on my local machine

![download_options](https://user-images.githubusercontent.com/8952928/78254578-20261480-74c4-11ea-9a8a-1c4bfba3c1f1.png)

This code is already deployed to portal.conp.ca, so it's not being caused by the views. Maybe this is an issue with the 'dataset_id' field in the prod database?

[2020-04-02 17:26] #181 closed

[2020-04-02 17:49] cmadjar commented on #225
Fixed by 226

[2020-04-02 17:49] #225 closed

[2020-04-03 00:52] jbpoline opened #227 "Download metadata button misleading"
It is too easy to think you are downloading the data when clicking on the big download arrow (As it is visually proeminent) - I would swap behaviour with click on title

[2020-04-03 14:24] cmadjar commented on #200
Just checked the portal with the latest code pulled. The issue is fixed. Thank you @liamocn !!

[2020-04-03 14:24] #200 closed

[2020-04-03 14:25] cmadjar commented on #211
Just checked the portal. Icons have been removed. Thanks @liamocn!!

[2020-04-03 14:25] #211 closed

[2020-04-03 14:27] cmadjar commented on #193
This issue is not relevant anymore. The share page will lead to the Github documentation on how to upload datasets. See #223

[2020-04-03 14:27] #193 closed

[2020-04-03 14:28] #205 closed

[2020-04-03 14:29] #202 closed

[2020-04-03 14:29] #188 closed

[2020-04-06 13:47] 3design opened #228 "No results show when searching on pages other than page 1"
On the dataset search page, typing a search parameter does not show entries if you are not on page 1

## Expected Behavior

1. go to data page
2. enter in search parameter
3. relevant datasets are shown

## Current Behavior

1. go to data page
2. enter in search parameter
3. relevant datasets are shown

1. go to data page
2. go to page 2 (or 3) of results
3. enter in search parameter
4. no results

[2020-04-06 13:57] 3design opened #229 "Inconsistency in clickable items on data page and tools/pipelines page"
## Purpose

In the interest of a good UX, having easily identifiable and repetitive calls to action would be ideal. Currently:
- data search page has clickable titles
- tools/pipelines have clickable icons

I would recommend consolidating these actions by either (in order of recommendation):
- making all icons/logos/titles clickable (or greyed out if not clickable)
- making only titles clickable (

[2020-04-06 14:46] #189 closed

[2020-04-06 21:34] #221 closed

[2020-04-06 21:35] #223 closed

[2020-04-06 21:35] #222 closed

[2020-04-07 16:48] cmadjar commented on #228
@3design Thank you so much for reporting the issue. I just merged the code on the repo. You should see the changes on the portal in less than an hour.

@liamocn thank you for fixing the issue.

FYI - I leave the issue open until I can confirm that this behaviour was pulled on the portal :).

[2020-04-07 19:49] cmadjar commented on #228
All fixed.

[2020-04-07 19:49] #228 closed

[2020-04-07 19:51] cmadjar commented on #217
@liamocn sentence to display on a dataset page with authorizations=private

Note: an account is required to access that dataset. Please following the Source URL and request an account on the source page.

@emmetaobrien does that sound fine to you?

[2020-04-07 20:17] emmetaobrien commented on #217
I would say "this dataset" but otherwise yes, entirely.

[2020-04-07 20:18] cmadjar commented on #217
@liamocn final sentence below:

Note: an account is required to access this dataset. Please following the Source URL and request an account on the source page.

[2020-04-07 20:20] emmetaobrien commented on #217
"please follow", not "following"

[2020-04-07 20:21] cmadjar commented on #217
ooops.

Note: an account is required to access this dataset. Please follow the Source URL and request an account on the source page.

[2020-04-07 21:26] cmadjar opened #235 "[terms of use] The terms of use need to be updated"
The terms of use displayed on the portal are incorrect. They need to be updated to the following text edited by Adrian: https://docs.google.com/document/d/13m_fQV5z4tEjKYov-FoTcGfeaSVIGU9J_ma3SPMcesg/edit

[2020-04-07 22:05] cmadjar opened #237 "Dashboard graph X axis seems wrong"
There is a jump on the X axis from February 2020 to April 2020 without the month of March 2020 in the middle. This feels like a typo (April should maybe have been labelled March?). See screenshot below.

![Screen Shot 2020-04-07 at 6 02 43 PM](https://user-images.githubusercontent.com/1402456/78723820-24a26100-78fa-11ea-8afc-aaa702c705f8.png)

[2020-04-08 13:27] cmadjar commented on #235
The changes are not being displayed on the portal for some reason so reopening the issue until this is pulled on the porta

[2020-04-08 14:35] cmadjar commented on #235
All good now. Thank you @xlecours!!

[2020-04-08 14:35] #235 closed

[2020-04-08 14:36] cmadjar commented on #198
Final decision taken on the CONP dev meeting of April 8th, 2020: get rid of the date in the footer

[2020-04-08 14:47] cmadjar opened #238 "Links should open in a new tab"
Links displayed in the portal should open in new tabs instead of the current page.

Exception being the buttons/links on the left side of the screen.

[2020-04-08 14:49] cmadjar commented on #227
Should make it clearer that this download button is downloading the overall dataset metadata, not the data or files metadata.

[2020-04-08 14:51] cmadjar opened #239 "Fix Simon dataset logo not being displayed"
Simon's dataset logo is not being displayed in the portal. This is due to the fact that the logo file has been annexed.

[2020-04-08 14:54] cmadjar opened #240 "Links within the MD file does not seem to work in the displayed Share MD file"
The link at the top should redirect to the different sections of the MD file. Those links work when being clicked on on Github but does not seem to work on the Share page of the portal.

Confirm that it is the same issue with the FAQ MD files when it will be integrated in the portal and figure out how to fix this.

[2020-04-08 15:08] cmadjar commented on #239
https://github.com/CONP-PCNO/conp-dataset/pull/251

[2020-04-08 15:20] cmadjar opened #242 "Redesign the tools & pipelines page"
The Tools & Pipelines page should be redesigned to be similar to the way data are organized:

- the landing page would list the pipelines and tools and users could click on specific tools which will redirect to a detailed tool page. The summary information displayed in the pipeline row could be the following from the Boutiques Schema:

  - description, truncated to the first X character
  - name

[2020-04-08 15:58] glatard commented on #242
Link to the Boutiques schema doc: https://github.com/boutiques/boutiques/tree/master/schema

[2020-04-08 16:38] #239 closed

[2020-04-08 16:50] glatard commented on #227
It could be just a smaller and different icon, for instance one that looks like [this](https://www.iconfinder.com/icons/1180472/brackets_curly_file_paper_sheet_icon).

[2020-04-08 16:52] #220 closed

[2020-04-08 16:52] #217 closed

[2020-04-08 17:32] #238 closed

[2020-04-08 20:07] cmadjar opened #245 "Make the dataset download instructions more user-friendly"
While all the correct information is present in the dataset page, need to make the download instruction a bit more user-friendly:
- explicitly mention that in order to download the dataset, users need to have basic understanding of UNIX command lines
- explicitly mention that in order to download the dataset, users need to install DataLad
- explain to the user what the different commands do and wh

[2020-04-08 20:12] cmadjar opened #246 "Have the left bar with options not move with the page when the page to display is long"
## Purpose

When we scroll down on a long page, we lose the side bar content to jump from one page to another. Would be nice to freeze the left hand sidebar so that we don't have to scroll up again to navigate.

![Screen Shot 2020-04-08 at 4 11 41 PM](https://user-images.githubusercontent.com/1402456/78829054-aa361780-79b3-11ea-86e3-5b0918f79c80.png)

## Context

I saw that during Alan's demo and

[2020-04-08 20:18] cmadjar opened #247 "Display total number of rows and"
## Purpose

We are missing information in the data list and pipelines list pages to know how many rows are shown, how many are available so that users have a better understanding on the extent of what is there. (Those numbers would be updated too depending on the filter used too)

Would also be nice to be able to select the amount of rows the user wants displayed in those pages.

Could be somethin

[2020-04-08 20:21] cmadjar opened #248 "Add pipelines statistics to the dashboard"
## Purpose

Need to add pipeline statistics to the dashboard to get a first glance idea of what is there.

## Context

This was brought up during the demo to Alan

[2020-04-08 20:58] cmadjar commented on #245
![Screen Shot 2020-04-08 at 4 38 51 PM](https://user-images.githubusercontent.com/1402456/78831341-74932d80-79b7-11ea-9f80-ed7132607ffd.png)

### Dataset Download Instructions

![Screen Shot 2020-04-08 at 4 39 37 PM](https://user-images.githubusercontent.com/1402456/78831395-912f6580-79b7-11ea-9de0-5a08f8244ddd.png)

The following instructions requires to have a basic understanding of UNIX command

[2020-04-08 21:01] cmadjar commented on #245
@samirdas what do you think?

[2020-04-09 13:30] emmetaobrien commented on #245
I suggest cutting "to have" in the first paragraph, "requires a basic understanding" is clear and reads better.

[2020-04-09 13:52] cmadjar commented on #245
@emmetaobrien applied your suggestion in the text above. Thanks!

[2020-04-09 14:30] samirdas commented on #245
I've made some minor edits below to the text:

The following instructions require a basic understanding of UNIX/LINUX command lines. Future portal functionality may include downloads directly from the web browser. Dataset download is currently enabled through DataLad.

To install DataLad on your system, please refer to the install section of the DataLad Handbook. Installation via miniconda is reco

[2020-04-09 14:37] cmadjar commented on #245
@liamocn could you modify the detailed dataset page to match the following?

![Screen Shot 2020-04-08 at 4 38 51 PM](https://user-images.githubusercontent.com/1402456/78831341-74932d80-79b7-11ea-9f80-ed7132607ffd.png)

### Dataset Download Instructions

![Screen Shot 2020-04-08 at 4 39 37 PM](https://user-images.githubusercontent.com/1402456/78831395-912f6580-79b7-11ea-9de0-5a08f8244ddd.png)

The

[2020-04-09 17:37] cmadjar commented on #242
Link to the sketch of the website that was done by Derek and Santiago a year ago. We could probably start from that and build on top of it. To be discussed in a meeting early next week.

https://sketch.cloud/s/mOnl8

**a few notes and quick ideas:**
- make the tools page like the data page (list of rows) with the information mentioned in the description of this issue (including tool logos when pro

[2020-04-09 19:06] cmadjar commented on #245
The documentation part was merged. Only things left to do on that ticket is display the README.md at the end of the page with section title "Dataset README information".

[2020-04-09 20:11] glatard commented on #242
I think the 1st page should contain the following info:
-     description, truncated to the first X character
-     name
-     tags
-     zenodo id / doi
-    cbrain button

Before we meet, I'd suggest that someone drafts a mock interface so that we have something concrete to discuss from.

[2020-04-09 20:17] #208 closed

[2020-04-09 20:18] #198 closed

[2020-04-09 21:47] glatard commented on #242
Just to clarify, I think the mockup from Derek linked by @cmadjar above looks very good: I would just replace "tool type" by tags on the first page.

[2020-04-09 22:29] cmadjar opened #252 "Sort function: explain what each criterion means"
For instance, Size might mean the number of subjects or number of files but it actually means total disk space. etc...

## Context (optional)

Alan's feedback

## Possible fix (optional)

## Related issues (optional)

[2020-04-09 22:31] cmadjar opened #253 "Sort function: should have the ability to sort up and down"
I should have the ability to sort up or down. I probably want to look at the bigger datasets before looking at single subject niche datasets but now I have to scroll down.

## Context (optional)

Alan's feedback

[2020-04-09 22:33] cmadjar opened #254 "Need to add PI and succinct dataset description to the list page or the dataset page?"
We need some information for every dataset about who is the PI (or PIs) and a succinct description of this dataset, not just a data source.

## Context (optional)

Alan's feedback

[2020-04-10 00:08] glatard commented on #254
This requires adding the PI to the DATS model, finding the information and updating all DATS models. This requires @emmetaobrien's help.

[2020-04-10 17:49] glatard opened #255 "Dataset browse link"
## Purpose

We could have a "browse" button in the dataset page that would link to the dataset repo on GitHub. For instance, for the BigBrain dataset the link would currently point to [here](https://github.com/conpdatasets/bigbrain-datalad/tree/792702f93455fcd565e76026a81e2e71fb46d444).

## Context

It would allow users to browse a dataset before downloading it.

## Possible Implementation

Add a

[2020-04-14 13:13] emmetaobrien commented on #254
The most straightforward way to do this appears to be by using the `roles` property in the DATS person schema, which we can attach to any person already in a DATS model under `creators`; I would assigning a standard value of "Principal Investigator" as a role for the appropriate individual. This will work for most of the datasets; there are cases where equivalent information is not immediately to

[2020-04-14 15:45] emmetaobrien commented on #254
A sample DATS model with this property added is included in https://github.com/CONP-PCNO/conp-dataset/pull/256.

[2020-04-14 17:07] cmadjar commented on #254
Note: once merged, this information derived from the DATS models will need to be displayed both in the list of datasets and the dataset pages.

[2020-04-14 17:14] cmadjar commented on #254
Question: could there be more than one PI (for example for a study that was started by one researcher and then taken over by another research upon retirement of the first one?)

[2020-04-14 18:01] emmetaobrien commented on #254
If we want to allow that my implementation supports it; there is no existing structured way of distinguishing different PIs like that (or distinguishing that case from co-PIs, for example)  but we could annotate that within the value of `creators->names->roles`.

[2020-04-14 18:01] #240 closed

[2020-04-14 18:11] cmadjar commented on #252
In the datasets page, the following should be relabelled:

- origin -> ?, not sure what that means actually...
- title -> dataset name
- size -> disk space usage
- files -> number of files
- subjects -> number of subjects
- format -> file format

[2020-04-15 13:56] glatard commented on #248
@liamocn is there any particular issue regarding this?

[2020-04-15 14:02] liamocn commented on #248
@glatard Yes, the issue before was that the data model for pipelines didn't allow for making the calculations. Has this changed?

[2020-04-15 14:07] emmetaobrien opened #258 "Display references in dataset page"
## Purpose

To show literature references for each dataset on that dataset's description page.

## Possible Implementation

When we have this information it is available in the DATS.json file in a structured fashion under `primaryPublication`, so the interface needs to extract and display that information; how much detail is available there varies between datasets.

[2020-04-15 14:08] glatard commented on #248
not that I know: would "date added" for each pipeline be enough, or do you need anything else?

[2020-04-15 14:20] liamocn commented on #248
@glatard Yes that would be enough, but it doesn't seem to be there currently.

[2020-04-15 14:39] glatard commented on #248
OK, this requires extending the Boutiques client, and checking if this information is returned by the Zenodo API. See Boutiques issue linked just above.

[2020-04-15 14:40] glatard commented on #227
at the meeting @jbpoline also suggested that this button is added to the data description page.

[2020-04-15 14:41] jbpoline commented on #227
yes, the metadata download would be on the dataset description (possibly with a visualizer in the future?)

[2020-04-15 15:10] cmadjar opened #260 "Modality selection filter not working for Quality Control Subject and Basic Demographics"
This could be due to a spacing or case sensitive issue.

In the filter selection tab, they are written: `qualityControlSubject` and `basicDemographic` but in the data, they are written `Quality Control Subject` and `Basic Demographic`

[2020-04-15 15:42] cmadjar commented on #227
Removed the discussion required as I think we came to a consensus which is:
1) use [the following icon](https://www.iconfinder.com/icons/1180472/brackets_curly_file_paper_sheet_icon) from @glatard's suggestion above (or an equivalent icon)
2) remove the Download metadata button from the dataset list page altogether as misleading
3) replace the Download metadata icon by the metadata icon from 1) on

[2020-04-15 15:49] cmadjar opened #262 "Legend account icons unclear"
## Purpose

The little icons at the top of the dataset list page specifying whether a dataset requires a CONP account or a third party account is misleading. User might think they are button you need to click on to create an account.

![Screen Shot 2020-04-15 at 11 48 09 AM](https://user-images.githubusercontent.com/1402456/79358294-05658e00-7f0f-11ea-8864-c8e719e9d531.png)

## Possible Implementa

[2020-04-15 16:20] liamocn commented on #252
'Origin' refers to whether the datasets are canadian, external etc.

[2020-04-15 16:26] cmadjar commented on #224
The execution instructions would be laid out clearly in the tool page that will be created from the issue #209 a bit like we describe the dataset download instructions in the dataset page. Follow up on this topic will be done on issue #209.

Regarding the "how to share your tools and pipelines" documentation, that should be added to the Share page.
- Currently the Share page displays the content o

[2020-04-16 21:33] cmadjar commented on #227
The steps mentioned above have been implemented, thanks to @liamocn. Closing the ticket since it has been pulled on production.

[2020-04-16 21:33] #227 closed

[2020-04-17 14:46] #245 closed

[2020-04-20 22:02] cmadjar commented on #262
After discussion with @3design, the easiest would be to:
1) remove the legend for the top of the data table
2) move the icon in the dataset card itself under the metadata of the dataset with the legend of what that icon means as follows:
(icon) - description

Note: should be displayed '(icon) - description', not '(icon): description'

So in the end, the card would look like:
| Title of the dataset

[2020-04-21 17:59] #252 closed

[2020-04-21 17:59] #253 closed

[2020-04-21 17:59] #260 closed

[2020-04-21 20:53] cmadjar commented on #242
@3design for the detailed page of tools, could you modify the sketch as follows?

- in the top container with the pipeline title, repeat the information from the cards in the list page:
  - name (a.k.a. the title)
  - tags
  - zenodo id / doi

- the line with the three containers:
  - first container (Run Locally):
    - modify the description to be "This tool can be run from any system using Bout

[2020-04-22 13:50] xlecours opened #270 "Datasets update broken"
There is a new dataset in conp-dataset with a long name. here is the error log of `flask update_datasets`

`
sqlalchemy.exc.DataError: (pymysql.err.DataError) (1406, "Data too long for column 'dataset_id' at row 1")`

[2020-04-22 14:41] liamocn commented on #248
@glatard Do I need to wait for the latest version of boutiques for this?

[2020-04-22 14:51] glatard commented on #248
yes, https://github.com/boutiques/boutiques/issues/604 has been implemented and merged to `dev` -- it will be available in the next release. It should come soon now.

[2020-04-22 15:09] cmadjar opened #271 "Add a contact us page that will display the google form"
## Purpose

Create a contact us form using google form and display it on the portal.

Steps involved:

1) Create the Contact Us google form (ensure notification is turned on)

2) Create a "Contact Us" link next to the Terms of use button that will open a new window with the google form embedded in it

[2020-04-22 15:11] cmadjar commented on #271
The google form has been created in the [CONP-Cyberinfrastructure-TSC](https://drive.google.com/open?id=1_EQW8xltIQvKiGlrvtXxZqyUEXADvYUs) shared google drive:

https://drive.google.com/open?id=1Skamop7PZALK67-ckLpd9YweJLJ0FmhE

- Full link to the form: https://drive.google.com/open?id=1H5uYNBZFxttGRuZwHfHQwT2NjdzYFTt0ojKgUXjs1h8

- Link to the answers: https://drive.google.com/open?id=1g0DD0L1XHj

[2020-04-22 15:32] liamocn commented on #248
Great, thanks!

[2020-04-22 18:55] #246 closed

[2020-04-23 19:19] 3design commented on #242
Updated

https://www.sketch.com/s/mOnl8

https://www.sketch.com/s/mOnl8/a/dq3g22

[2020-04-23 20:37] cmadjar commented on #242
Nice! Thank you @3design!!

The only thing I would change is the way the instructions title and the instructions themselves are displayed so the page would look like somthing like that.
 _______________________________________________________
| run locally | run on CBRAIN | run on other platform |
________________________________________________________

| authors: | bla bli |
| URL: | url |
| Des

[2020-04-27 20:12] #271 closed

[2020-04-28 13:24] glatard commented on #242
Sounds like this is ready for @liamocn to implement, do you confirm @cmadjar ?

[2020-04-28 13:28] glatard commented on #270
Are there any news about this? Two datasets were added recently and don't seem to show in the portal, this is a bit embarrassing.

[2020-04-28 13:31] cmadjar commented on #270
That is not good... Who could this be assigned to? I am not sure who is the best to tackle that one.

[2020-04-29 13:00] cmadjar commented on #254
@emmetaobrien what is left to be done for this ticket now that the DATS model was updated? Are the datasets updated?
Is this ready to add that information on the portal?

Thank you!

[2020-04-29 13:05] cmadjar commented on #242
@glatard yes, I think it is ready for @liamocn

[2020-04-29 13:21] emmetaobrien commented on #254
Some of the datasets are updated.  @joeyzhou98 is going to implement code to check whether a dataset has a defined Project Leader in Zenodo, and if so, annotate that person as PI in the DATS.json file (either by finding a match or by creating a new entry under `creators`.  Once this is done, we will need to reprocess the datasets created by conp-bot.

[2020-04-29 13:43] glatard commented on #270
Thanks @liamocn for taking this on!

[2020-04-29 16:48] liamocn commented on #270
@glatard @xlecours @cmadjar OK, there's a PR in for this now. I believe `flask db upgrade` will need to be ran on the production server which I don't have access to. Regarding the datasets which failed, it's very possible they will be considered 'installed' by the update_datasets script even though inserting the records failed, though I'm not 100% sure. In that case, removing the datasets director

[2020-05-06 19:45] cmadjar commented on #270
@liamocn @xlecours I tried running `flask db upgrade` on the production server but got the following error:
[code]

I am surprised flask is not installed on production. @xlecours Would you mind taking a look at production for that? J'ose pas, LOL. Can't wait to have a dev version of the portal so I would not feel too stressed about messing up ;).

[2020-05-06 21:19] liamocn commented on #270
@cmadjar It sounds like you didn't activate the python environment, with `source venv/bin/activate`

[2020-05-06 22:23] cmadjar commented on #270
ooops, right. Did not think of it... I did run `flask db upgrade`. Not sure what to expect from then though

[2020-05-07 21:48] glatard opened #276 "Advanced search with Nexus"
## Purpose

Provide a way for users to do more complex queries of datasets than the current simple text search.

## Context

It would allow the portal to support queries such as:
* List datasets that have derived datasets
* List datasets of type fMRI with at least `n` subjects
* ...

## Possible Implementation

### In CONP
* Add an "advanced search" text box to the dataset page
* Text box accepts

[2020-05-08 15:05] liamocn opened #277 "Pipeline page updates"
1. "Run externally" should not point to the descriptor URL on Zenodo, because it's not possible to run a tool on Zenodo. Instead, it should link to the URL in online-platform-urls when this URL isn't a CBRAIN one.

2. Online platform URL shouldn't appear in the list below

![Screenshot from 2020-05-07 14-14-24](https://user-images.githubusercontent.com/8952928/81428916-03b47200-912b-11ea-8cf5-52df

[2020-05-08 17:14] liamocn commented on #277
@glatard For clarity, how would I go about displaying the container information below? Are all of these fields to be included? What are the links, if any?

"container-image": {…}
​​image: "mcin/docker-fsl:latest"
​​index: "index.docker.io"
type: "docker"

[2020-05-12 21:43] glatard commented on #270
Hi, are there updates about this? The portal still doesn't seem to have the new datasets.

[2020-05-13 13:54] xlecours commented on #14
Matomo (formerly known as Piwik) is free as in freedom (GPLv3)

[2020-05-13 14:14] cmadjar commented on #270
@liamocn will look at what is going on on the portal.

Access to the portal.conp.ca VM has been asked for Liam: https://redmine.cbrain.mcgill.ca/issues/17864

[2020-05-13 14:15] cmadjar commented on #254
@liamocn can you work on adding the PI and small description of the dataset to the dataset list page and dataset page?

Thank you!

[2020-05-13 16:54] glatard commented on #277
Hi Liam, the link to the container must be assembled from the index and image, and I'm not sure how to do that in a robust way. I would suggest to just show the container type, image and index and let the user deal with it. For Docker anyway, container images are most often retrieved using the Docker client which works with image names, not URLs.

[2020-05-13 17:59] liamocn commented on #270
I migrated the production db to latest revision (though there were some issues with the migration scripts) and updates the datasets:

`(venv) conp-admin@portal:~/conp-portal$ flask update_datasets
[INFO   ] Installing <Dataset path=/data/not_backed_up/conp-portal/data/conp-dataset> underneath /data/not_backed_up/conp-portal/data/conp-dataset recursively
[INFO   ] conp-dataset update complete
[INFO

[2020-05-14 17:23] cmadjar commented on #54
This was brought up by someone in the feedback form. Would be nice to have a forum or a wiki to expand collaborative functionality.

[2020-05-14 17:43] cmadjar opened #281 "Integration of additional sharing platforms"
## Purpose

This was brought up as a feedback from the webinar.

Simpler integration with other platforms. Very impressed that it can interface with Zenodo, OSF, and Datalad though.

[2020-05-14 17:46] cmadjar opened #282 "Ability to easily filter by tissue, species and other measures"
## Purpose

From the webinar feedback form.

The ability to easily filter datasets by tissue, species, psychiatric Dx/clinical measures

[2020-05-14 17:49] cmadjar opened #283 "Download button"
## Purpose

Have a download button for easier download.

## Proposed download workflow (from the WIKI page that will be removed in favour of this issue)

This draft specifies a data download mechanism from the CONP portal. This mechanism would be an alternate to using the DataLad client in situations where it cannot be easily used.

The following download workflow is proposed:
1. User clicks on da

[2020-05-14 17:51] cmadjar opened #284 "Provide a more user-friendly option for data upload than DataLad"
## Purpose

From the webinar feedback form:

"Data Upload: I like the idea of Zenodo and OSF and how CONP leverages such available tools for data integration and sharing.
DataLad option seems good at this point, but it requires some steps to set up, and as mentioned in your document, it is only compatible with Linux and Mac machines. That would be great if the better and more user-friendly options

[2020-05-14 18:01] cmadjar opened #285 "Would be helpful if the DOI of the main publication of the dataset was displayed"
## Purpose

From the webinar feedback form.

Besides that, It would be helpful if the DOI of the main publication where the uploaded dataset was used is provided and shown for each dataset.

[2020-05-14 18:03] cmadjar commented on #276
I guess this would encompass the following feedback from the webinar form?

It would be better if more filtering options can be added to sections "Data" & "pipeline" for searching and finding the datasets/tools.

[2020-05-14 18:06] cmadjar opened #286 "Implement a GUI for creating DATS models"
## Purpose

From the webinar feedback form and in the big item roadmap Github project.

Create a GUI to generate DATS models for the dataset.

Would also be nice to have a clear automated way to generate the DATS model.

[2020-05-14 18:16] emmetaobrien commented on #284
It seems to me like providing the Alan button as per https://github.com/CONP-PCNO/conp-portal/issues/283 might plausibly address this issue as well.  How many different ways to download data do we want to support?

[2020-05-14 18:19] glatard commented on #283
See initial specification at https://github.com/CONP-PCNO/conp-portal/wiki/Data-download-mechanism-from-CONP-portal

[2020-05-14 18:20] glatard commented on #284
If this is really about data upload (not download) then I think Zenodo and OSF are the answers. If this is about data download then yes, #283 is the way to go.

[2020-05-14 18:37] cmadjar commented on #284
This issue was indeed for easier upload process, not the Alan button.

It looks like the user was happy to have Zenodo and OSF upload process but was hoping for an easier upload process on the DataLad front. Not sure how easy or realistic that is.

@glatard Feel free to close the issue if you think this is not really an issue. I don't have any strong opinion on the matter :).

[2020-05-14 18:41] cmadjar opened #287 "Create DATS model validator with the required fields"
## Purpose

This was in the big roadmap items project https://github.com/CONP-PCNO/conp-portal/projects/2.

Create a DATS model validator that will check the required fields in the DATS file.

[2020-05-14 18:42] cmadjar commented on #287
@emmetaobrien do you know if this is something that exists or under development?

[2020-05-14 18:48] cmadjar commented on #69
@glatard It feels like this should be closed so I am closing it. Feel free to reopen if I am misreading this?

[2020-05-14 18:48] #69 closed

[2020-05-14 18:50] cmadjar commented on #45
Just looked at the portal on my iPad. Seems fine so I will close this issue as it is probably outdated.

[2020-05-14 18:50] #45 closed

[2020-05-14 18:56] cmadjar commented on #283
Probably partly related to https://github.com/CONP-PCNO/conp-portal/issues/96

[2020-05-14 18:58] cmadjar commented on #92
@liamocn @glatard Is this still a current issue? I don't think there is any login functionality on the portal at the moment so I am not sure this ticket is relevant anymore.

[2020-05-14 18:59] cmadjar commented on #89
@liamocn any update on that issue?

[2020-05-14 19:01] cmadjar commented on #63
@glatard should this issue be closed?

[2020-05-14 19:01] cmadjar commented on #63
actually, I will close it. Feel free to reopen it if you think there is still work involved on that issue.

[2020-05-14 19:02] glatard commented on #284
Maybe we should contact the user to know more about it. If you DM me their email address I might be able to find their GitHub handle. As it is, I can't think of an easier way to upload data than uploading to Zenodo or OSF.

[2020-05-14 19:02] cmadjar commented on #58
Feels to me that this issue should be closed as well. @glatard feel free to reopen it if I am wrong.

[2020-05-14 19:02] #58 closed

[2020-05-14 19:04] glatard commented on #63
On the CBRAIN front it would be useful to have a tighter integration than just redirecting to the login page. We should check with the CBRAIN team if point 2. in @shots47s' list above would be doable.

[2020-05-14 20:10] natacha-beck commented on #63
We should discuss about the new interface in the coming weeks, I will bring the point 2 to this discussion.

[2020-05-14 20:41] emmetaobrien commented on #287
https://github.com/emmetaobrien/dats-validator/blob/master/perlscripts/1000genomes_validate_json.pl - which is not specific to the 1000 Genomes dataset, I should rename it - can check any DATS.json against a local copy of the relevant schema.

I believe there may have been some issues with indicating in a schema that a field under `extraProperties` was required, though, so I am not sure this is a

[2020-05-15 16:52] liamocn commented on #89
@cmadjar We added a bunch of tests around the time this issue was opened, but the nature of testing is that you can always use more. I'd leave this open for now and I can work on some of the areas where testing could be improved when I get the time.

[2020-05-15 19:43] PapillonMcGill commented on #287
@emmetaobrien That validator is not 100% correct. datagsuite have one available that do validate 100%
https://github.com/datatagsuite/dats-tools

[2020-05-15 21:51] emmetaobrien commented on #287
If that works to validate our added fields under `extraProperties`, excellent.

[2020-05-20 13:43] #270 closed

[2020-05-20 13:52] cmadjar commented on #14
Discussed at CONP dev meeting on May 20th, 2020.

What would be next highest priority analytics?
- analytics to display on the portal
  - how many datasets available
  - number of tools available
  - more popular datasets on the portal

- analytics to collect for reviewers and Brain Canada
  - how many datasets visited, how many datasets downloaded etc...?
  - number of users, visits etc..

for ne

[2020-05-20 13:53] glatard commented on #14
Idea for a metric:
[ ] Number of git clones of the `conp-dataset` repo: https://github.com/CONP-PCNO/conp-dataset/graphs/traffic

[2020-05-20 13:54] cmadjar commented on #24
Neurolibre not ready yet but should maybe be ready in a month.

[2020-05-20 14:02] cmadjar commented on #49
To be discussed when discussing authentication in a different call.

[2020-05-20 14:11] cmadjar commented on #54
Get initial feedback from the scholars to determine the best platform to use for this: Slack, Discourse, Neurostar, other...?

This could be put in the hands of the training committee.

@StoneJessica to follow up on this with the scholars and the training committee.

[2020-05-20 14:12] jbpoline commented on #54
I think our best route given the use case would be a channel on neurostars.org: it would put CONP on the world map

[2020-05-20 14:22] #92 closed

[2020-05-20 14:23] cmadjar commented on #96
Duplicate of #283 so closing

[2020-05-20 14:23] #96 closed

[2020-05-20 14:27] cmadjar commented on #281
FRDR will be added shortly. Already cover a lot of useful sharing platform.

Could also add Google Drive eventually.

[2020-05-20 14:39] cmadjar commented on #24
@pbellec, @nstikov, when do you think Neurolibre would be ready for us to put the link on the CONP portal. @samirdas mentioned in about a month, does that seem realistic to you guys?

Thank you!

[2020-05-20 18:31] cmadjar commented on #14
A few ideas of metrics (mostly basic I guess but always good to write them down):
1. [ ] **Number of datasets and tools**
2. [ ] Keyword search (to gather some stats on what people are looking for maybe) - not sure how easy to gather that though....
3. [ ] **_Number of git clones of the conp-dataset repo (from @glatard above, just gathering everything in one description so far)_**
4. [ ] Number of

[2020-05-21 22:32] glatard commented on #248
Hi @liamocn, the new Boutiques release (0.5.25) now reports pipeline upload date, you can update with `pip install -U boutiques`. I'm not sure how the upload dates will be grabbed, but it might be easier through the Python API than from the CLI. Let me know if anything is unclear!

[2020-05-22 17:09] glatard opened #289 "Remove empty source link in dataset page"
When the source URL of the dataset is not present, it should be omitted from the dataset page rather than showing as "None" as is the case in the dataset below:

![Screenshot from 2020-05-22 13-08-13](https://user-images.githubusercontent.com/5174953/82692221-50b93d80-9c2d-11ea-8d27-8cc5948cc2a1.png)

## Expected Behavior
Don't show a source link if there is none to display, just remove the line i

[2020-05-22 17:16] glatard commented on #164
another example of dataset with a URL as logo: https://portal.conp.ca/dataset?id=projects/Comparing_Perturbation_Modes_for_Evaluating_Instabilities_in_Neuroimaging__Processed_NKI_RS_Subset__08_2019_
(and all datasets crawled from Zenodo)

[2020-05-23 00:05] nstikov commented on #24
We are hoping to announce it at the end of June, during the OHBM annual
meeting, so yes that is reasonable

On Wed, May 20, 2020 at 4:39 PM cmadjar <notifications@github.com> wrote:

[2020-05-26 17:57] liamocn commented on #248
Thanks @glatard !

[2020-05-27 12:40] cmadjar opened #291 "Error when accessing the portal"
When going on the portal, the following error is being displayed:

![Screen Shot 2020-05-27 at 8 39 25 AM](https://user-images.githubusercontent.com/1402456/83019877-ac9d1100-9ff5-11ea-94ce-926919a7f105.png)

[2020-05-27 14:23] jbpoline commented on #14
Add #views and #download click per dataset

[2020-05-27 14:23] cmadjar commented on #14
[ ] Number of datasets and tools on the dashboard
[ ] Graphical representation of modality key words. For example, number of dataset with EEG, number of quality control subject datasets, number of dataset with MRI etc...
[ ] Graphical representation of Tags for the tools. For example, number of bioinformatics tools, neuroinformatics tools, MRI tool etc..
[ ] Number of views of the different visite

[2020-05-28 18:22] #254 closed

[2020-05-28 18:43] #237 closed

[2020-05-28 18:43] #248 closed

[2020-05-28 18:49] cmadjar opened #294 "Number in the dashboard inconsistent between sandboxes and the portal"
There seems to be inconsistencies in the number of datasets graph between sandboxes and the portal but the data should be exactly the same. Need to figure out what is causing those inconsistencies

Screenshot of the graph from the portal:
![Screen Shot 2020-05-28 at 2 48 28 PM](https://user-images.githubusercontent.com/1402456/83181068-59f54f00-a0f2-11ea-8dee-70a78c1a9982.png)

Screenshot of the g

[2020-05-28 20:40] #247 closed

[2020-05-28 20:41] #262 closed

[2020-05-29 14:56] #291 closed

[2020-06-01 22:41] glatard opened #299 "Don't show deprecated pipelines"
Deprecated pipelines shouldn't show in the pipelines.

## Expected Behavior

Deprecated pipelines such as "Example Boutiques tool" shouldn't show in the pipeline list.

## Current Behavior

"Example Boutiques tools" show.

## Possible fix

Since this seems to be a regression, I guess that this is coming from the use of the verbose flag in `bosh search` to get the pipeline publication date. The ver

[2020-06-03 13:43] xlecours opened #300 "Some dataset have 2 entries in the "Search" page"
Datasets with 2 entries:
 - MRI and unbiased averages of wild muskrats (Ondatra zibethicus) and red squirrels (Tamiasciurus hudsonicus)
    - https://portal.conp.ca/dataset?id=projects/MRI_and_unbiased_averages_of_wild_muskrats__Ondatra_zi
    - https://portal.conp.ca/dataset?id=projects/MRI_and_unbiased_averages_of_wild_muskrats__Ondatra_zibethicus__and_red_squirrels__Tamiasciurus_hudsonicus_

-

[2020-06-03 14:19] xlecours opened #301 "Add json-ld descritors on the portal web page(s)"
## Purpose
Provide json-ld descriptors for indexers (bots) to crawl the portal pages and know what the website is about.

## Context
https://github.com/CONP-PCNO/conp-portal/pull/195

## Possible Implementation (optional)
The schema.org json-ld should be added here, e.g.:
[code]
Some research need to be done on best practices but here is my naive implementation suggestion:
1. Add the descriptors i

[2020-06-03 14:30] cmadjar commented on #294
Suggestions from the CONP dev meeting:
- for datasets, look at the timestamp of the initial commit as the date the dataset was added
- for pipelines, use the information present in the latest Boutiques schema to show the date of pipelines

[2020-06-03 14:56] glatard commented on #294
(just to be more accurate, for pipelines this info isn't present in the boutiques schema but it can be retrieved using `bosh search -v`).

[2020-06-03 14:57] cmadjar commented on #289
It looks like this has been fixed as I don't see that behaviour anymore on the portal so closing the issue.

https://portal.conp.ca/dataset?id=projects/Reusing-Neuro-Data

[2020-06-03 14:57] #289 closed

[2020-06-03 15:02] cmadjar commented on #164
@glatard, @xlecours, @liamocn, @emmetaobrien  What is the status of that issue? It says this is in progress but I don't see an assignee which makes me doubt that this is actually in progress ;).

Anyone knows?

[2020-06-03 17:14] cmadjar commented on #283
@xlecours @liamocn can you guys start working on that.

Xavier has already started thinking about the process. Liam, could you take the lead on that and work with Xavier to implement this? Xavier will be there to consult on how to do that but the bulk of the work would be done by Liam.

Target date to have that complete would be end of August.

Does that work for you guys?

[2020-06-03 17:29] cmadjar commented on #286
Timeline: aim to have that for July.

@liamocn @emmetaobrien can you guys work together on that to deliver something in July?

[2020-06-03 17:42] cmadjar opened #302 "Create a community server to offer for data upload for users that do not have a server to host their data"
## Purpose

Creation of a centralized server where people who don't have dedicated space would upload there their data. That would be a CBRAIN data provider with DataLad.

Idea in Samir's head.

@xlecours Samir says you know what he wants so could you take the lead on this item and set up the server and data provider that would be accessible for CONP and NeuroHub. Feel free to update the ticket wi

[2020-06-03 18:17] #209 closed

[2020-06-03 18:44] cmadjar commented on #14
Deadline for phase 1 of analytics: End of July 2020. See which analytics in the comment made 7 days ago.

[2020-06-03 22:22] cmadjar commented on #218
![](https://github.trello.services/images/mini-trello-icon.png) [Duplicate dataset issue (300)](https://trello.com/c/NO3X3NXT/5-duplicate-dataset-issue-300)

[2020-06-03 22:22] cmadjar commented on #218
![](https://github.trello.services/images/mini-trello-icon.png) [Duplicate dataset issue (300)](https://trello.com/c/NO3X3NXT/5-duplicate-dataset-issue-300)

[2020-06-03 22:23] cmadjar commented on #24
![](https://github.trello.services/images/mini-trello-icon.png) [Follow up with Neurolibre people](https://trello.com/c/rfXer5il/4-follow-up-with-neurolibre-people)

[2020-06-04 15:28] cmadjar commented on #300
Resolved. The database need to be updated to remove the duplicate entries.

[2020-06-04 16:05] emmetaobrien commented on #164
The DATS model can contain a url for the logo in `extraProperties->logo-> values`, as in the dataset @glatard cites above, but the portal interface is not yet picking this up and displaying it.

[2020-06-04 21:43] joeyzhou98 commented on #287
@emmetaobrien I believe this is already implemented in CircleCI and @mathdugre is maintaining and developing all the testing and validating of DATS

[2020-06-05 12:08] glatard commented on #302
Hi @cmadjar, could we discuss this at our next dev meeting? I have a few thoughts on this but am missing context (putting them here so that I dont forget them :) ):
* I guess the goal is to streamline processing but am not sure if you really meant using CBRAIN as a storage solution.
* There are currently two issues with CBRAIN's datalad dataprovider: (1) it doesn't support authentication, (2) the

[2020-06-05 14:58] xlecours commented on #302
@glatard To my understanding, this issue is about:

1) Allow processing of CONP dataset from CBRAIN.
As you said CBRAIN datalad dataprovider have limited functionalities at the moment but they could still be used for open datasets that don't have subdatasets.

2) Provide storage location for datasets/projects that can't guaranty persistency or accessibility of resources servers. We already did tha

[2020-06-05 15:33] emmetaobrien commented on #287
If this is already implemented in CircleCI that would be great.  My understanding is that @mathdugre's time with this project finished at the end of May, yes?

[2020-06-05 15:51] joeyzhou98 commented on #287
Yes that is correct

[2020-06-05 17:51] cmadjar commented on #300
Visual working memory: Study of Task fMRI and Behavioural response reappeared as two datasets after database update on the conp-portal

- https://portal.conp.ca/dataset?id=projects/visual-working-memory
- https://portal.conp.ca/dataset?id=projects/ds001634

(muskrat dataset duplicate did not reappear though so one out of two fixed!)

@emmetaobrien @liamocn @xlecours @glatard  any idea why `project

[2020-06-05 18:13] #299 closed

[2020-06-08 14:10] emmetaobrien commented on #287
So who is currently maintaining the test suite ?

[2020-06-08 14:28] emmetaobrien commented on #300
@cmadjar : `ds001634` is our more recent fork of the OpenNeuro repository for `visual-working-memory`, regenerated in April after the previous copy became non-functional (https://github.com/CONP-PCNO/conp-dataset/pull/282).  Why that repository name keeps coming up is opaque to me, I shall try renaming it again; it should only be visible as 'visual-working-memory', as it is in https://github.com/C

[2020-06-08 16:23] joeyzhou98 commented on #287
I will be maintaining it in the meantime, but I am not familiar with CircleCI so changes will take time for me to implement/fix

[2020-06-08 18:03] emmetaobrien commented on #287
Right. One thing that would be useful at some point is if you could confirm that we are validating the required fields under `extraProperties` as I mentioned above; my notes indicate that we had difficulty with that at some point but I am unclear as to whether that was solved.

[2020-06-09 21:24] #164 closed

[2020-06-09 21:24] #294 closed

[2020-06-11 01:10] joeyzhou98 commented on #287
The DATS validator in CircleCI checks for if `extraProperties` is an array according to [here](https://github.com/CONP-PCNO/schema/blob/29134fd4aa16f7e76b6b9e20238c7b4de82b8518/dataset_schema.json#L198). It also checks for other fields inside `extraProperties` according to [this](https://github.com/CONP-PCNO/schema/blob/29134fd4aa16f7e76b6b9e20238c7b4de82b8518/category_values_pair_schema.json) and

[2020-06-12 19:54] emmetaobrien commented on #287
@joeyzhou98: that is checking that entries under `extraProperties` are correctly formatted, but it is not, if I understand it correctly, confirming the existence of specific entries under `extraProperties` which are required in our specification (https://github.com/CONP-PCNO/conp-documentation/blob/master/CONP_DATS_fields.md), at the moment `extraProperties->files` and `extraProperties->subjects`.

[2020-06-14 00:54] glatard opened #316 "Suggest a pipeline to add"
If you just joined the CONP project, perhaps at a [BrainHack](http://www.brainhack.org) event, you could already contribute a great deal by suggesting a pipeline to add to the platform. Does anything come to mind? If not, here are a few ideas to get started:

* Review the pipelines available in the portal at https://portal.conp.ca/pipelines Is there any pipeline related to any of these that you ca

[2020-06-16 21:11] glatard commented on #287
just in case it was ambiguous: the tests use function `validate` from `scripts/dats_validator/validator.py`, which validates the DATS model against our schema available here: https://github.com/CONP-PCNO/schema/tree/29134fd4aa16f7e76b6b9e20238c7b4de82b8518 Do we need anything more than that?

[2020-06-17 18:58] tashrifbillah opened #318 "fatal: unknown refname: format strip=2"
Installed datalad with Python 3, version 0.12.7

[code]

[2020-06-17 19:01] yarikoptic commented on #318
yikes. it is datalad/git issue.  what version of git is that? `git --version`

[2020-06-17 19:01] emmetaobrien commented on #318
Have you got` git `and `git-annex` installed ? Our current setup requires `git-annex` version >= 8.20200309,

[2020-06-17 19:03] tashrifbillah commented on #318
I see two opposing comments-- is `git-annex` required by CONP?

[code]

[2020-06-17 19:05] emmetaobrien commented on #318
Both git and git-annex are requirements for using Datalad with CONP.

[2020-06-17 19:08] yarikoptic commented on #318
Now there is datalad side issue: https://github.com/datalad/datalad/issues/4636  which we will address by stating minimal supported/needed version of `git`.  @tashrifbillah - please look into upgrading `git` from a version released in 2013. `conda` might be the easiest way forward: https://anaconda.org/anaconda/git

[2020-06-17 19:14] ltetrel commented on #318
To install git annex (before datalad):
[code]

[2020-06-17 19:17] tashrifbillah commented on #318
Thanks @ltetrel, I'll find a way to get it installed on RHEL. Your instruction is Ubuntu :)

[2020-06-17 19:20] ltetrel commented on #318
Sorry, did not read carefully!

[2020-06-17 19:35] tashrifbillah commented on #318
Sorry, installation of `git-annex` didn't remedy the problem :(

[2020-06-17 19:36] tashrifbillah commented on #318
[code]

[2020-06-17 19:48] emmetaobrien commented on #318
The current CONP setup requires git-annex version >= 8.20200309.

[2020-06-17 20:12] tashrifbillah commented on #318
I see, the `yum install` pulled a very old one.

[2020-06-17 20:21] glatard commented on #318
Hi @tashrifbillah see the install instructions for RHEL here: http://handbook.datalad.org/en/latest/intro/installation.html#install

[2020-06-18 01:59] glatard opened #319 "Move dataset status badges, and add information about them."
## Purpose

The dataset status badges, located in the main dataset page, are a bit prominent and might not be well understood by users not familiar with continuous testing of dataset availability. After discussing with @cmadjar, @emmetaobrien and @samirdas, we agreed on the following things to address this issue:

1. Remove status badges from the main dataset page, leave them only in the dataset d

[2020-06-18 02:01] jbpoline commented on #319
:+1:

[2020-07-02 14:03] cmadjar commented on #24
@nstikov @pbellec @samirdas Hope you had a nice OHBM!

Just wanted to touch base. How are things going on the NeuroLibre side? Is it read for release and to be linked on the CONP portal?

Thanks!

[2020-07-02 19:47] cmadjar commented on #24
New deadline: September. Will follow up on September for the status of NeuroLibre.

[2020-07-02 20:14] cmadjar commented on #287
@emmetaobrien if I understood correctly what was said during the call today, all the required fields are being validated by the DATS validator now, correct? If so, should we close this issue?

Note: the validation of extraProperties will be logged in a separate ticket that already exists: https://github.com/CONP-PCNO/conp-dataset/issues/345

[2020-07-03 13:31] pbellec commented on #24
hi @cmadjar I imagine there has been some offline discussions going. The new website is more or less ready (neurolibre.com), and the submission & review workflow as well. At the moment we are still using a "pilot" cloud on arbutus compute canada, and in the process of testing / deploying the production cloud which should get us going for the years to come. The ETA for the full platform to go onlin

[2020-07-06 13:37] emmetaobrien commented on #287
All the required fields outside `extraProperties` are currently being validated by the DATS validator, so yes, this issue should be closed.

[2020-07-06 13:37] #287 closed

[2020-07-06 19:24] jbpoline opened #322 "authentification / authorization for non fully open datasets"
## Purpose
Avoid double login, being able to download data behind authorization wall

## Context
The use case of non fully open datasets

## Possible Implementation (optional)
[Some thoughts here](https://github.com/CONP-PCNO/conp-portal/wiki/Authentication-and-Authorization-Policies)

[2020-07-08 14:39] cmadjar commented on #286
Update from the CONP dev calls on the plan to move forward with the DATS GUI editor.

Discussed in July 2nd:
- The DATS GUI editor needs to be implemented in NeuroHub and Portal so the code should be independent
- Phase 1: editor for the creation of DATS.json file
- Phase 2: ability to add fields etc… so can support other JSON types

Discussed in July 8th:
- Proposed to be a separate repo built en

[2020-07-08 14:42] cmadjar commented on #302
Discussed at the CONP dev meeting of July 2nd 2020:
- The goal of that server would be to give an option to those who do not have space to use a common space to upload their data
- OSF and Zenodo allows for upload of large dataset so we could delay the creation of a community server
- Deadline pushed to September

@xlecours feel free to add anything I might have missed during the discussion of tha

[2020-07-08 19:02] cmadjar commented on #14
Summary of the discussions that happened during a quick meeting between @3design, @liamocn and @cmadjar on July 8th, 2020.

Overall representation of the analytics:
1) in the dashboard:
  a) in the card showing the graph, add a drop down where users can select which representation they want to see on that card with the ability to visualize the selected graph in the card
  b) at the bottom of the c

[2020-07-09 22:09] prioux opened #323 "Cannot get data using "datalad get" (many datasets are faulty)."
There is no problem in installing the datasets, but that doesn't download the data. To download data we need to run 'datalad get' and for many datasets that just fails.

Here are examples. I did my extraction tests in "/tmp/X", just so you knwo where these things come from in the traces below.

### PERFORM_Dataset__one_control_subject

[code]

### BigBrain

[code]

### BigBrain_3DClassifiedVolumes

[2020-07-10 00:04] glatard commented on #323
These datasets currently pass our CircleCI tests, so they are supposed to work. To get more insight about the error, could you post your DataLad and git-annex versions? We recommend git-annex >= 8.20200330  and DataLad >= 0.12.

The PERFORM dataset requires an authentication token, I can follow up on that offline.

There is no restriction on where DataLad datasets are hosted, some of them are unde

[2020-07-13 13:46] emmetaobrien commented on #323
Most of those download failures look to be because @prioux was using a version of `git-annex` from the time period where git-annex did not support `sftp`.  At this point I think we should specify our `git-annex` and `datalad` version requirements somewhere significantly more obvious, new users during the OHBM hackathon were also hitting this problem; right now those are documented on the "technica

[2020-07-15 13:24] prioux commented on #323
I've updated both datalad and git annex, will follow up soon.

[2020-07-15 17:55] cmadjar commented on #14
Discussed at CONP dev meeting of July 15th, 2020:

- Regarding the map graph, there is a proposal to broaden the range of values for CONP_status, see https://github.com/CONP-PCNO/conp-dataset/issues/366

- Webiste traffic: could set up Google analytics to run on the portal if this goes with the CONP terms of use (to be followed up with the ethics and governance committee). Could also parse the log

[2020-07-15 18:01] cmadjar opened #324 "Add datalad and git-annex versions requirements in more user friendly places"
We should specify required versions of datalad and git-annex somewhere more obvious (suggestion: in the Dataset Download Instructions for each dataset?).  Right now this is specified in the “detailed technical instructions” page https://github.com/CONP-PCNO/conp-documentation/blob/master/datalad_dataset_addition_procedure.md linked at the bottom of https://portal.conp.ca/about but users connecting

[2020-07-22 15:45] cmadjar opened #327 "Rename default master branch to main"
## Purpose

The `master` branch should be renamed to `main`.

We should list here crawlers, hooks and servers... that might be referring to the `master` branch and change those to `main`

Reference in the code for now:
https://github.com/CONP-PCNO/conp-portal/search?q=master&unscoped_q=master

[2020-07-29 13:29] jbpoline commented on #301
@emmetaobrien @liamocn  @zxenia : I thought we already had this to be discoverable by google datasets ?

[2020-07-29 14:27] emmetaobrien commented on #301
I believe @xlecours has developed this, but I am not sure whether it is currently active.

[2020-07-29 15:00] zxenia commented on #301
The code is there for serving google json-ld but the generated json-ld snippet should be added to frontend.

[2020-07-29 15:46] cmadjar commented on #286
@liamocn did a very nice presentation of the tool during the CONP dev of July 29th, 2020 and the following feedback were given:

- Add * next to required fields
- Add example values in the box (email example, etc…)
- Add description of fields when hover over the title of the box
- CONP status should be a drop down
- License field should be a drop down
- Email should be formatted as email format
-

[2020-07-30 19:30] cmadjar commented on #323
@prioux is this still an ongoing issue?

[2020-07-30 19:32] cmadjar commented on #318
@tashrifbillah I just wanted to follow up on this. Were you able to install the required version of DataLad and git-annex and get the data you were looking for? Thanks.

[2020-07-31 15:36] liamocn commented on #286
@cmadjar  It's in another repository but I haven't pushed it anywhere yet. Can you create a new repository under CONP-PCNO? Once that's up I can add it as the remote and push the code.

[2020-08-03 13:32] xlecours commented on #301
@zxenia Is right. And she did the development :)

[2020-08-03 14:04] cmadjar commented on #286
@liamocn I just created a new repository: https://github.com/CONP-PCNO/conp-dats-editor

If you can update the README file when you commit the code, that would be awesome. Thanks!

[2020-08-05 17:31] cmadjar commented on #283
Will reconvene when @glatard comes back from vacation on the week of August 17th.

In the meantime let's investigate more:

- @xlecours  will look into the DQT workers:
  - the workers gets the files from URLs and zip them in the user's browser
  - will be limited by the size the browser allows as download, which might be a couple of GB...

- @emmetaobrien to look at how OpenNeuro does that

- @li

[2020-08-12 15:10] cmadjar commented on #286
@liamocn notes from today's meeting:

- Display what went wrong when cannot download the DATS file (summary + box highlighting)(@liamocn)
- Add tests (@liamocn)
- Need extra pairs of eyes to look at the editor (@emmetaobrien, @cmadjar)
new fields under extraProperties.
- Add the origin extraProperties fields to the editor (see https://github.com/CONP-PCNO/conp-dataset/issues/370, @emmetaobrien and

[2020-08-19 17:39] cmadjar commented on #283
One solution was FTP sites but not secure so not investigating that option further for now...

Could not find a solution to download at the individual files level unfortunately...

**Proposal so far unless there is a better idea:**
- for each project create a tarball on a centralized server
- could show the progress of the streaming of the tarball
- if the download is interrupted, it will pick up

[2020-08-19 18:21] xlecours commented on #283
For the ones that are truly open, Academic torrent would be an elegant, file by file solution.

[2020-08-19 18:25] emmetaobrien commented on #283
i tested academic torrent on the 1000 Genomes dataset about a year ago and found downloading slow and unreliable.

[2020-08-19 18:26] xlecours commented on #283
Was it via gitannex?

[2020-08-19 18:42] emmetaobrien commented on #283
I would have to check my notes.  I remember it being slow and unreliable on bittorrent interfaces anyway.

[2020-08-19 18:44] cmadjar commented on #286
Notes from today's meeting:

- @emmetaobrien and @liamocn to finalize the fields in the GUI editor
- Tests being written for the editor
- Make it working with CONP, then standalone so it can be used by CONP and Neurohub, then standalone that could be used by anyone
- @liamocn  to quickly show this off next Wednesday again - maybe also take us through the automated testing as well?

[2020-08-20 20:48] cmadjar commented on #286
@liamocn I finally was able to look at the GUI editor. This looks great!

I took the PREVENT-AD open DATS file to test the GUI and I found a few issues. Below are two checklists of things to correct. I figured it would be easier to track what is done this way.

Here are comments regarding the GUI:
- [ ]  would be good to have a clear layout of why the confirm button does not work: display the erro

[2020-08-20 20:49] cmadjar commented on #286
@liamocn @emmetaobrien can you work together to get these issues resolved for the next CONP dev meeting? Thanks!

[2020-08-24 13:28] emmetaobrien commented on #286
@cmadjar : @liamocn and I talked through many of these issues immediately after last Wednesday's meeting, and came up with answers and prioritisation (e.g. `refinement` and `aggregation`, which are in the DATS schema but which we have not as yet used in CONP, I suggested we mask from the interface for our first GUI version.)

[2020-08-26 13:59] glatard commented on #283
Hi everyone, sorry for joining the discussion late. At some point we had designed a solution where the server would return datalad urls to the client, and the client would download them from their hosting sites, pending cross-origin issues. Is there an obvious issue with this solution? Compared to the centralized solution described above, it would:
* Avoid authorization issues, as the data would s

[2020-08-26 17:09] prioux opened #334 "The search box works poorly"
The search box in the dataset section doesn't seem to search everything.

If I type 'openneuro', it doesn't find the visual working memory dataset even though the logo and the url contain that keyword.

If I type 'evans', I only get three results, none of them being e.g, datasets that are associated with the PI Alan Evans, like the single subject phantom dataset.

[2020-08-27 01:29] glatard commented on #334
This is related to #183. @cmadjar, I think we should have this issue prioritized.

[2020-09-02 16:13] liamocn commented on #286
@cmadjar This is ready for review again if you could pull the latest code and review your points above. I've checked off the boxes I actioned, some of the others are either fields we removed or there wasn't a clear consensus on them. Thanks!

[2020-09-09 13:56] cmadjar commented on #334
@glatard thanks for linking the issues! I will prioritize this.

Sorry for the delay, just came back from vacation...

[2020-09-09 14:14] cmadjar commented on #283
Note: the description @glatard is mentioning has been copied to the description of the issue above for information before deleting the WIKI page.

@liamocn @xlecours @emmetaobrien Any thoughts on what @glatard mentioned on August 26th?

[2020-09-09 17:11] liamocn commented on #283
I think this would be a better solution than tarballs, but the cross-origin issues are significant. The CORS policies on the hosting sites are something we don't have control over and as such I'm not sure we can guarantee that the files of the dataset(s) would be accessible to the user through the portal. Of course we could return those urls to the user, but then this becomes less of a 'download b

[2020-09-10 16:00] cmadjar commented on #286
@liamocn Thank you for making the changes while I was away. :-)

**New comments on the GUI and the resulting DATS.json:**
- [ ] improvements on the download page (page displayed after clicking on the 'CONFIRM' button)
  - [ ] there should be a button that allows the user to go back to the form if the user wants to edit a field
  - [ ] there should be a button that allows the user to start the crea

[2020-09-10 16:06] liamocn commented on #323
I'm going to close this. We can reopen later if necessary, thanks.

[2020-09-10 16:06] #323 closed

[2020-09-10 16:06] #318 closed

[2020-09-10 20:58] cmadjar commented on #258
This has been merged and pulled on the portal

[2020-09-10 20:58] #258 closed

[2020-09-10 22:21] glatard commented on #283
did you have the chance to look at how OpenNeuro does it? It seems that they have a web downloader:
-    https://github.com/OpenNeuroOrg/openneuro/blob/eff90d7e7fd61b858d43d8f2c73918eff0a32ac4/packages/openneuro-app/src/scripts/datalad/download/download-dataset.jsx
-    https://github.com/OpenNeuroOrg/openneuro/blob/db32c348b991aa3b4e98c88bb51d5c9ffc084019/packages/openneuro-app/src/scripts/datala

[2020-09-11 02:49] yarikoptic commented on #318
and FWIW, as I stated above -- initial issue is not about the elderly version of `git-annex` per se -- it is about "ancient" version of git.  It is git to be upgraded, not git annex.  Or if you install a "standalone" build of git-annex -- it will come with git included and datalad should use that "bundled" version by default (if it is detected to reside along git-annex)

[2020-09-11 15:18] #324 closed

[2020-09-11 15:21] cmadjar commented on #285
This was done by https://github.com/CONP-PCNO/conp-portal/pull/328.

[2020-09-11 15:21] #285 closed

[2020-09-16 13:22] cmadjar commented on #286
@liamocn I love what you did with the primary publication fields!!! This is looking very good.

Below are a few other bugs I noticed (almost there!):
- [ ] when reading an existing DATS file that does not have a `role` for the `creators`, the GUI reads it as `Contributor` instead of `None`
- [ ] the derived from fields do not get populated when uploading a DATS file with derivedFrom field
  - [ ]

[2020-09-16 14:27] glatard commented on #283
Here is the plan discussed at our meeting today:

1. If dataset requires AUTHENTICATION or is TOO BIG (size threshold to be configured in portal properties):

- Don't show download button, revert to download with Datalad

2. When user clicks on download button **for a given dataset version** (DV):

- Server checks if a zip file already exists for this version.
- If zip file doesn't exist:
   - Che

[2020-09-17 14:25] cmadjar commented on #286
@liamocn Thank you for the quick updates!

I ran the DATS file obtained with the latest version of the dats_validator.py and I got the following error:
[code]
So the encoding of the CONP_status field values needs to be corrected to use those values.

Thank you!

[2020-09-17 15:59] liamocn commented on #286
@cmadjar That's corrected now, and I can see it's passing the validator on my end. Can you pull the latest and try again?

[2020-09-17 20:26] cmadjar commented on #286
@liamocn This is passing the validator too on my end 🥇 . This is AWESOME!!

@emmetaobrien and @zxenia will also test it this week or early next week.

In the meantime, I think it is in a pretty good shape already and ready to be pulled on the portal. @liamocn Could start working on integrating the GUI on the portal in a PR to conp-portal?

Thank you!

[2020-09-17 20:31] cmadjar commented on #24
Hi @pbellec @nstikov, Hope all is well with you!

I have a reminder to follow up with you on the state of Neurolibre so I was wondering if you could give me an update. Is the full platform online or almost ready to be online?

Thanks!

[2020-09-21 15:42] cmadjar commented on #334
@prioux this appears to have been fixed now. I tried filtering for `evans` and `openneuro` on the updated portal and I do get the results you mentioned in the issue now.

Thank you for reporting that!

[2020-09-21 15:42] #334 closed

[2020-09-21 15:43] cmadjar commented on #183
PR merged and a comprehensive DATS searching is on the portal now.

[2020-09-21 15:43] #183 closed

[2020-09-22 15:04] zxenia commented on #286
Hi @liamocn
I started testing the editor (latest master version) and it seems like something goes worng:

1. When I upload DATS.json I get the following error (tested with 4 different valid DATS files):

![bug](https://user-images.githubusercontent.com/11253950/93898916-c576b400-fcc1-11ea-8c53-92dc803b59ad.PNG)

2. When I try to create a DATS file from scratch, I am able to get to the Extra proper

[2020-09-22 16:30] liamocn commented on #286
Hi @zxenia, Thanks for the feedback! I think I see the issue that was throwing up the 'values' error, I'll see if I can reproduce it. For the other issue (the strange UI behaviour), can you see anything in your browser's console when the white screen occurs? You can usually open the console (Chrome and Firefox) with Ctrl-Shift-I on Windows.

[2020-09-22 16:52] zxenia commented on #286
Hi,
yes, it has an error like this:

[code]

[2020-09-23 14:37] emmetaobrien opened #338 "display issue with Safari on iPhone"
I have had feedback describing a display issue with the data list page in Safari on iPhone 11 Pro Max; the appearance of the page is [](https://github.com/emmetaobrien/conp-misc/blob/master/IMG_4039.jpg).

[2020-09-23 14:38] emmetaobrien opened #339 "Display issue with Safari on iPhone"
I have had feedback describing a display issue with the data list page in Safari on iPhone 11 Pro Max; the appearance of the page is ![garbled](https://github.com/emmetaobrien/conp-misc/blob/master/IMG_4039.jpg?raw=true).

[2020-09-23 14:44] emmetaobrien commented on #338
Accidental duplicate.

[2020-09-23 14:44] #338 closed

[2020-09-23 14:50] cmadjar commented on #282
Should be resolved by https://github.com/CONP-PCNO/conp-portal/pull/336

[2020-09-23 14:50] #282 closed

[2020-09-23 14:53] #242 closed

[2020-09-23 14:57] #277 closed

[2020-09-23 15:00] #154 closed

[2020-09-23 15:01] #182 closed

[2020-09-23 15:01] #113 closed

[2020-09-23 18:37] liamocn commented on #339
@emmetaobrien Thanks for this, I've just sent a PR which improves how the navigation bar and dataset pages render on smaller screens. Can you or @cmadjar take a look when you can?

[2020-09-24 03:24] jbpoline opened #341 "https://portal.conp.ca/pipeline?id=zenodo.2602109 MCFLIRT is "green" (can be run on cbrain)"
However, when I click on MCFLIRT, CBRAIN capacity in not available

[2020-09-28 14:11] cmadjar commented on #341
@jbpoline the green on the left side of the tool name does not correspond to the CBRAIN availability. The CBRAIN availability is represented by the `cb` logo on the right side of the screen, which is disabled (greyed out).

Exemple of a tool available on CBRAIN: https://portal.conp.ca/pipeline?id=zenodo.3899496

PS: the green button represents the URL of the tool, which in this case points to the

[2020-09-28 14:12] cmadjar commented on #341
@jbpoline I removed the bug label and put the won't fix label as this is not a bug. Can you close the issue if you are satisfied with the answer?

Thanks!

[2020-09-29 18:23] #286 closed

[2020-09-29 20:58] #339 closed

[2020-09-29 23:22] zxenia commented on #301
Hi @liamocn

Here is how the schema.org json-ld should be added to the front-end. I don't know the conp-portal codebase well so this solution is approximate.

Class DATSDataset (app\search\models.py) has a property `schema_org_metadata` which returns json-ld required by Google Dataset search.

1. In `app/search/routes.py` https://github.com/CONP-PCNO/conp-portal/blob/master/app/search/routes.py#L3

[2020-09-30 14:12] #281 closed

[2020-09-30 14:23] #284 closed

[2020-09-30 14:56] cmadjar opened #342 "Modify labels for linked datasets"
## Purpose

Currently, we are using the terms 'Child Datasets' and 'Parent Dataset' to specify the link between datasets. However, this naming might not be YODA-compatible.

Instead, rename those terms as follows:
- 'Child Datasets' => 'Derived Datasets'
- 'Parent Dataset' => 'Input Dataset'

[2020-09-30 15:00] cmadjar commented on #281
For now, we will focus on what we provide already and improve it. (OSF, Zenodo, FRDR)

[2020-09-30 15:05] cmadjar commented on #168
Discussed at the CONP dev meeting of September 30th, 2020.

Once we have the Matomo analytics working, the study spotlight could be dynamically displayed based on the number of views of the datasets between a certain interval of time. To be discussed more once we have the portal analytics setup

[2020-09-30 15:07] cmadjar commented on #63
Discussed briefly at the CONP dev call of September 30th, 2020.

Will focus and split that issue in smaller tasks at the next CONP dev call (October 7th).

@glatard should we invite people from the CBRAIN team to the next CONP dev call to discuss the plan? If so, who should be invited?

[2020-09-30 15:13] cmadjar commented on #89
Discussed at the CONP dev call of September 30th, 2020.

@liamocn will give a conceptualization demo of the test to be implemented for the portal at the next CONP dev call (October 7th)

[2020-09-30 15:19] cmadjar commented on #186
Discussed at the CONP dev call of September 30th, 2020.

@liamocn will investigate kaggle and see if we can use that to display the content of the DATS.json file. Currently only some parts of the DATS.json file is being displayed on the front end but it would be nice to have an `expand` section that shows all the content of the DATS file in a more intuitive and user friendly way that the JSON repr

[2020-09-30 18:09] cmadjar commented on #206
@haoweiqiu during the weekly CONP dev call, Samir mentioned that you could help with this. Would you have some time to work on it?

@christinerogers tagging you so you are aware of the discussion :)

[2020-09-30 18:26] cmadjar commented on #319
@liamocn could you look at Tristan's description above and implement it? This is very well detailed. Thanks @glatard! Sorry I did not follow up on this, it fell off of my radar somehow...

Let me know when you have a PR ready and I will gladly test it :)

[2020-09-30 20:42] liamocn commented on #319
Will do, cheers!

[2020-10-01 21:05] #342 closed

[2020-10-02 17:40] cmadjar commented on #301
@zxenia  @liamocn can you confirm that this is resolved and live on the portal? I tried to look for our datasets in Google dataset search but could not find them.

[2020-10-02 17:47] liamocn commented on #301
@cmadjar The code change is live on the portal as I can see the updated head tags. I'm not sure how long it typically takes for Google to crawl the new pages or if there are other optimizations we can make.

[2020-10-02 21:18] zxenia commented on #301
@cmadjar @liamocn It might take some days to get into google datasets search.

But I think there is another issue: if I test the dataset page in Google rich results I get an error that markup is not correct. So I changed singe quotes in json-ld for double and it passes the validation.
I checked a few datasets and seems like it inconsistently renders single and doubles quotes:

<pre>{'@context': 'h

[2020-10-02 22:28] liamocn commented on #301
@zxenia @cmadjar Yes, it seems like tojson is the correct filter in this case. I've just tried it and everything gets double quotes

`{"@context": "https://schema.org/", "@type": "Dataset", "creator": [{"@type": "Organization", "name": "StoP-AD Center - Douglas Mental Health University Institute"}], "description": "Longitudinal study of pre-symptomatic Alzheimer\u0027s Disease", "keywords": ["Prev

[2020-10-05 13:05] cmadjar commented on #301
@zxenia @liamocn Thank you for the fix `tojson`! I tried this morning searching for some CONP dataset in Google search and could not find them. Any other ideas?

[2020-10-05 14:01] zxenia commented on #301
@cmadjar let's wait first because it takes several days for google to find and crawl it

[2020-10-07 12:23] glatard commented on #63
Here are a few possible actions regarding this issue, organized in four Goals. All goals can be worked on in parallel, except Goal 3 as it depends on 1 and 2.

# Goal 1: Run CONP pipelines in CBRAIN

## Tasks
1. Make sure that all CONP pipelines that are available in CBRAIN appear as such in the CONP portal.
2. When user click on the CBRAIN button in a CONP pipeline, redirect to the pipeline launc

[2020-10-07 14:41] cmadjar opened #347 "Run CONP pipelines in CBRAIN"
## Tasks

1) Make sure that all CONP pipelines that are available in CBRAIN appear as such in the CONP portal.
2) When user click on the CBRAIN button in a CONP pipeline, redirect to the pipeline launch page instead of the generic CBRAIN login.

## How

Point 2 most likely requires storing a CBRAIN tool config id for each pipeline, preferably as a config file also available on GitHub for easier up

[2020-10-07 14:42] cmadjar commented on #347
For 2. there might be difficulties within CBRAIN to access directly the tool form as users have to first select data in order to see the form.  @natacha-beck will investigate if possible to change that in CBRAIN.

[2020-10-07 15:31] cmadjar opened #348 "Process CONP datasets in CBRAIN"
## Task

- Create a CBRAIN data provider for the whole CONP dataset, access datasets on this data provider or create a CBRAIN data provider for each CONP dataset.
- Store a CBRAIN data provider id for each dataset.
- In each dataset page, add a link to redirect to the CBRAIN dataset page in the CBRAIN portal.

## How

The ideal solution would be to use CBRAIN's DataLad data provider. Otherwise, in

[2020-10-07 15:35] cmadjar opened #349 "Process CONP datasets in CBRAIN using CONP pipelines"
## Tasks

- In the CONP portal, create an interface to select a pipeline from a dataset, and/or to select a dataset from a pipeline
- From this interface, redirect to a pre-populated CBRAIN launch form

## How

Needs discussion, it might be a bit tricky, as fine-grained file selection in the dataset might be necessary.

## Who

CONP portal developers: @liamocn, @xlecours

## Related issues (option

[2020-10-07 15:37] cmadjar opened #350 "Analytics on pipeline execution"
## Task

Create a dashboard of CONP pipeline executions on CONP datasets. This dashboard would track executions done in and outside of CBRAIN.

## How

- Regularly upload Boutiques provenance from CBRAIN and any other execution platform.
- Pull Boutiques provenance records and present them in graphs

## Who

@mandana-mazaheri for the provenance dashboard, liaise with @nbeck for provenance upload f

[2020-10-07 15:39] cmadjar commented on #63
- [ ] Goal 1 will be tracked in #347
- [ ] Goal 2 will be tracked in #348
- [ ] Goal 3 will be tracked in #349
- [ ] Goal 4 will be tracked in #350

[2020-10-09 18:02] natacha-beck commented on #347
As mentinonned it is not possible to get directly the tool form.

What should be possible is to get something like that:

<img width="1399" alt="Screen Shot 2020-10-09 at 1 59 37 PM" src="https://user-images.githubusercontent.com/777590/95616579-00097c00-0a38-11eb-8905-6582e1d22a4e.png">

But it is some javascript event, I need to see how we can get the same behaviour with a link.

[2020-10-14 14:14] glatard opened #352 "Whitespace in the portal"
There's currently a lot of whitespace in the portal (see example below), is it something that could be improved? Maybe making the text more compact or increasing logo size would be relevant.

![Screenshot from 2020-10-14 10-11-43](https://user-images.githubusercontent.com/5174953/96001373-f2703f80-0e05-11eb-8e52-85ca687c125d.png)

[2020-10-14 14:15] jbpoline commented on #348
I think this requries a discussion with NeuroHub as well

[2020-10-14 14:37] cmadjar commented on #301
@zxenia I just checked after the call and I see only two CONP datasets in google dataset search that appears now. BigBrain and preventad-open.

Do you know why? Could this be related to the fact that the JSON-LD fields were removed from the DATS.json of most dataset? Should they be added back?

[2020-10-14 14:41] emmetaobrien commented on #301
The schema.org descriptors google looks for in dataset search, attached to the webpages the dataset is on, are a distinct thing separate from the dataset metadata in DATS.json, so I don't see how there could be any connection.

[2020-10-14 14:49] zxenia commented on #301
@emmetaobrien @cmadjar my guess now is that only those datasets' webpages were indexed by google crawlers so far, the rest will be added too when google bots find them.

[2020-10-14 14:56] zxenia commented on #301
@cmadjar

the json-ld for google is generated from DATS.json info (it doesn't rely on those removed json-ld fields)  and only uses the required fields so this should not be an issue

[2020-10-14 19:46] cmadjar opened #353 "Losing data search filter when going back from a dataset page"
User story:
- user filters for datasets using the search box and applies filter (Neuroimaging)
- user clicks on a dataset to open the dataset page
- user clicks on the back arrow of the browser expecting to see the same filter (Neuroimaging) but instead user has to reenter their filters in the search box

Is there a way to keep the search filter information so that when the user clicks on the back

[2020-10-16 17:34] #319 closed

[2020-10-19 15:40] cmadjar commented on #302
Discussed on October 19th, 2020.

Goal: have a place where people could upload their open datasets. Then add the authentication feature

- Amnesia SFTP server - not much space on that server but could mount extra storage on it (20TB to start).
- Will need to specify a policy for a limit of 50GB upload and contact us if need more.
- Write a crawler to crawl the new data on the SFTP server that woul

[2020-10-21 15:18] cmadjar commented on #14
@liamocn updates from today's meeting:

- Match dataset and pipeline colours from the first graph with the dataset and pipeline bubble charts colours
- Use a different colour than grey for pipelines (pick from the CONP palette)
- Fix the `View analytics` button not working on Firefox
- Remove the `Select Chart` drop down from the dashboard

Is that something you could do this quickly to have that

[2020-10-21 15:40] cmadjar commented on #301
Datasets are (very) slowly being added to Google Dataset Search so I guess we can close this issue.

@zxenia feel free to reopen if you do not agree.

[2020-10-21 15:40] #301 closed

[2020-10-22 21:26] cmadjar opened #355 "Clean up configuration file of production"
The configuration file `.flaskenv` on production is still using information related to Shawn's accounts. It would be good to update those.

The following information would need to be looked into:
[code]

Other configuration that might be changed could be (I have no idea what they are for):
[code]

It would also be nice to document what all those configs are used for.

[2020-10-22 21:27] cmadjar commented on #355
@liamocn is that something you could work on eventually. Not urgent though.

[2020-10-22 21:27] #341 closed

[2020-10-27 15:31] natacha-beck commented on #347
@liamocn and @glatard This [PR](https://github.com/aces/cbrain/pull/1047) in CBRAIN will allow you to do that. If you want to prepare a specific tool you need to know the `id` of the tool. Once you know it the link you should have on CONP will be like the following `https://portal.cbrain.mcgill.ca/userfiles?prepare_tool_id=XX` (XX == tool_id).

[2020-10-27 19:13] cmadjar commented on #302
Redmine issue created for the sys admin: https://redmine.cbrain.mcgill.ca/issues/18451

[2020-10-27 20:09] emmetaobrien opened #358 "Format errors/issues observed in DATS.json files generated by GUI."
Problems  observed while @srmemar and I were generating` DATS.json` files for the MouseBytes dataset.

The following were observed in two versions of the file:

- Dates saved as `yyyy-mm-dd` when the validator expects  `yyyy-mm-dd hh:mm:ss`.

- Dates saved with an invalid subfield `dates->description`, the contents of which should be in `dates->types->value`

- `distributions->size` saved as a str

[2020-10-27 21:04] cmadjar commented on #358
@liamocn could you fix those issues? Let me know if you need a tester once you send the PR to the DATS GUI editor. Thanks!

[2020-10-27 21:28] liamocn commented on #358
Are we sure we want timestamps on the dates? Looking at the PreventAD dataset, there are not timestamps for the dates

`  "dates": [
    {
      "date": "2019-04-30",
      "type": {
        "value": "Release Date"
      }
    },
    ...`

What would be an appropriate timestamp, 00:00:00?

The other issues seem to be small enough and shouldn't take too long to work through.

[2020-10-28 19:29] emmetaobrien commented on #358
00:00:00 seems a good default to me; some of the datasets I have set up have more precise timestamps.

[2020-10-29 19:33] cmadjar opened #363 "nfdaskjg"

[2020-11-04 15:07] zxenia commented on #276
The GUI for SPARQL we can use on the frontend:
https://github.com/TriplyDB/Yasgui
https://triply.cc/docs/yasgui-api

[2020-11-04 15:43] cmadjar commented on #276
FYI - https://nexus-research.camh.ca/web/admin/public/CONP (CONP results on Nexus)

It would appear that recent datasets cannot be found in that link so automatic updates do not seem to be functional.

[2020-11-04 15:46] zxenia commented on #276
I get 'Could not load project CONP' if I follow the link ...

[2020-11-04 16:01] cmadjar commented on #276
Email sent to Adeel to figure out why things are not updated on Nexus. According to the Github webhook, things are being pushed: https://github.com/CONP-PCNO/conp-dataset/settings/hooks/234285152

[2020-11-04 16:07] cmadjar commented on #276
Response from Adeel: The correct endpoint for the Nexus search is  https://reservoir.global/admin/Public/CONP, the other one was used for demo and testing only.

[2020-11-04 18:29] cmadjar commented on #276
From Adeel's email concerning the search results issues I noticed when testing their GUI (only one dataset returned when typing keyword Alzheimer instead of 3; no datasets returned when typing keyword MRI...)

I think there are a few options for doing that depending on how you want to search:
 - full text search of entire content of each JSON file, then maybe the default elastic search view would

[2020-11-04 19:18] cmadjar commented on #363
very interesting ticket... No idea how that happened, lol. Closing it since not a real ticket...

[2020-11-04 19:18] #363 closed

[2020-11-11 14:15] jbpoline commented on #281
@cmadjar : One big one will be DataVerse : it has already be "blessed" by mcgill and is increasingly used

[2020-11-11 20:46] #155 closed

[2020-11-11 20:46] xlecours commented on #155
investigator directory do not exists anymore

[2020-11-12 18:11] liamocn opened #366 "Use authentication for GitHub markdown requests"
## Purpose

We need to use the GitHub API to correctly render various .MD files shown on the portal. These are dataset READMEs as well as share, FAQ, and tutorial content. Unauthenticated requests are limited to 60 requests per hour.  By adding authentication this limit increases to 5000 per hour.

## Context

This will ensure the portal renders content correctly with increased user traffic.

[2020-11-12 18:20] tkkuehn opened #368 "Sidebar dashboard button occludes navbar"
## Expected Behavior

After scrolling down on any page in the portal, when the "Dashboard" button on the sidebar is highlighted, the highlight should be contained to the sidebar and not spill out onto the navbar.

## Current Behavior

After scrolling down on any page in the portal, when the "Dashboard" button on the sidebar is highlighted, the lighter grey highlight spills onto the navbar.

![Scre

[2020-11-12 23:26] cmadjar commented on #368
@liamocn could you look into this? Thank you!

[2020-11-13 19:33] cmadjar commented on #206
Plan to implement this:
- add a little "?" button at the top right of the portal which would open a pop up with the help information about the page being displayed on the portal
- for the text, look at the existing [tutorial](https://portal.conp.ca/tutorial) and adapt it so the explanation to a short text explaining the page

@liamocn Haowei will be installing a local instance of the portal on his

[2020-11-18 17:57] #366 closed

[2020-11-19 17:15] emmetaobrien opened #370 "Updating DATS.json GUI for change in spec."
As of the CONP dev meeting on Nov 18 2020, we are instituting a policy that the default value for `distributions-access-landingPage`, in cases where the user does not supply one, should be a URL pointing to the README.md for their dataset.

a) if possible, can the GUI autogenerate that value?

b) whether a) is the case or not, the GUI help text for this field should be updated accordingly.

[2020-11-19 20:47] cmadjar commented on #353
Note from the meeting of November 19th, 2020: this might be a bit tricky to implement given the flask architecture. @liamocn will investigate how this could be done.

[2020-11-19 20:49] cmadjar opened #371 "Add an 'all' category in the drop down "number of datasets/pipelines displayed per page""
## Purpose

In the suggestion of number of datasets/pipelines to display per page in the search and pipelines page, it would be nice to add an 'all' option that would list all the datasets/pipelines into a single page.

Current available options are 5, 10, 15, 20

[2020-11-19 20:54] cmadjar opened #372 "Page navigation buttons does not redirect to the top of the page list after clicking on it"
## Purpose

At the bottom of the screen of the data and pipeline search pages, when clicking on the next page to be displayed, the user stays at the bottom of the page instead of being redirected to the top of the page.

[2020-11-20 13:42] cmadjar opened #373 "Analytics bubble charts updates"
Some improvements discussed on November 19th, 2020 for the analytics bubble graphs:

- when clicking on the bubble link, the user does not have the possibility to open the link in a new tab and gets directly redirected to the search pages. Investigate the possibility to allow the user to open the bubble links in a separate tab or window if they wish by allowing the right click on the bubble link.

[2020-11-20 14:09] cmadjar opened #374 "Refactoring of the dataset card in the search list and dataset page"
## Purpose

The dataset page needs some refactoring and re-design. Preliminary work on this can be found at the following link that Derek gave us: https://drive.google.com/drive/folders/1db1jsWa3dn787mUtN4-mlUkalmKuXJP1?usp=sharing

The general idea behind this new card layout would be to have 3 divs in the card:
- one for the logo and country/views/downloads/likes icons;
- one for the dataset inf

[2020-11-20 14:11] cmadjar commented on #374
@3design I am assigning this to you for now to finish up the mock up first, then I will assign it to @liamocn once we are happy with the mock ups. If you could update this ticket with things I missed or progress, that would be great. This way we keep everything in one place. Thank you :)

[2020-11-20 14:18] cmadjar opened #375 "Dataset page improvements"
This is related to issue #186. When tackling that issue, we realized that it would be a good opportunity to redesign/revamp the dataset page. So far, the following improvements have been discussed:

- refactoring of the card summarizing the dataset content (see #374)
- links are currently displayed in blue which attracts the user's eyes on information that are not necessarily the information we wa

[2020-11-20 14:18] cmadjar commented on #375
@3design I am assigning this to you for now to finish up the mock up first, then I will assign it to @liamocn once we are happy with the mock ups. If you could update this ticket with things I missed or progress, that would be great. This way we keep everything in one place. Thank you :)

[2020-11-20 14:20] cmadjar opened #376 "Contact form improvements"
Modify the categories of the contact form. Patrick will suggest what the categories should be and Cécile will modify the contact form.

[2020-11-20 14:54] cmadjar commented on #186
This is blocked by the redesign of the dataset page: #375 and #374

[2020-11-25 17:27] zxenia commented on #276
Notes from the dev meeting on 2020-11-25:

1. Identify several main queries (e.g. a dataset has derived datasets) and investigate how they can be wrapped in a user-friendly interface that doesn't require a user to write sparql query.

2. Ideally in the CONP portal, search results from the Nexus should be linked to the CONP dataset detail page. Currently, they are not linked.
Nexus delivers stable

[2020-11-26 18:48] glatard opened #378 "Improved listing of CBRAIN pipelines in the portal"
## Purpose

Currently, several CONP pipelines are installed in CBRAIN but do not appear as such in the portal.

## Context

This feature will facilitate the listing of CBRAIN pipelines in CONP.

## Possible Implementation

1. Create a JSON object in the portal, with the following schema:
[code]
The CBRAIN URL should be the link of the launch task in CBRAIN. See https://github.com/aces/cbrain/pull/

[2020-11-30 15:36] liamocn commented on #378
@glatard We used to have all the information about running the pipelines ( on CBRAIN and other platforms ) in the boutiques descriptors. Is that not the case anymore?

[2020-11-30 16:01] cmadjar commented on #378
@liamocn I think the idea is to not rely anymore strictly on the Boutiques descriptor since it is complicated to track down the owner of the descriptor and ask them to update their boutiques descriptor to add a link to CBRAIN.

If we store that information ourselves in a JSON file, we can then update ourselves the CBRAIN links whenever tools are available on CBRAIN. It will need to be a manual pro

[2020-12-01 20:52] cmadjar commented on #283
See the following document for discussion on how to refactor this: https://docs.google.com/document/d/1secjwOXBjk0G3aOi6-_k2Euszir-vyEwxIIiO2Gb6jg/edit

[2020-12-04 21:19] #358 closed

[2020-12-04 21:20] #206 closed

[2020-12-10 22:04] cmadjar opened #383 "Dataset page footer being displayed on the right side of the page instead of the bottom"
One picture is worth 1000 words to explain the bug:

![Screen Shot 2020-12-10 at 5 02 53 PM](https://user-images.githubusercontent.com/1402456/101835404-bdcceb80-3b09-11eb-90bf-2c8fee27c97b.png)

[2020-12-10 23:45] cmadjar commented on #368
All fixed. Thank you @liamocn :-)

[2020-12-10 23:45] #368 closed

[2020-12-11 20:21] #383 closed

[2020-12-11 20:30] #378 closed

[2020-12-11 21:33] cmadjar opened #387 "Add privacy policy link at the bottom of the website"
## Purpose

The privacy policy can be found attached to the issue. Need to add a link at the bottom of the CONP portal called `privacy policy`. When clicking on the link, it should open a window (a bit like the terms of use) and display the privacy policy present in the attached document.

[CONP-portal-privacy-policy-2020-11-20.docx](https://github.com/CONP-PCNO/conp-portal/files/5681696/CONP-port

[2020-12-11 22:26] cmadjar commented on #347
I believe this is done. I can click on the CBRAIN logo and it redirects me to the tool ID in CBRAIN.
 @mandana-mazaheri can you confirm? If you confirm, can you close the issue? Thank you!

[2020-12-11 22:42] mandana-mazaheri commented on #347
Thanks Cecile,

Yes I confirm, I will close the issue.

Best regards
Mandana

On Fri., Dec. 11, 2020, 5:26 p.m. Cécile Madjar <notifications@github.com>
wrote:

[2020-12-14 21:48] emmetaobrien commented on #302
As of today, the first dataset to be hosted on the community server has gone live, in https://github.com/CONP-PCNO/conp-dataset/pull/479.  I think the tack of creating that server can now reasonably be marked as closed.

[2020-12-14 21:48] #302 closed

[2020-12-14 22:23] #387 closed

[2020-12-16 20:15] cmadjar opened #389 "Addition of a twitter card to the portal"
## Purpose

Add a twitter card to the portal so that the tweeted link generates a page preview on twitter instead of simply a clickable link.

Information on how to add the card can be found at the following link sent from Patrick: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/abouts-cards

@3design has done this for conp.ca if need more information.

[2021-01-06 15:05] #389 closed

[2021-01-06 16:29] #353 closed

[2021-01-06 16:31] #371 closed

[2021-01-06 16:31] #372 closed

[2021-01-13 15:02] #347 closed

[2021-01-13 15:19] zxenia commented on #276
Notes from the dev meeting on 2020-01-13:

- add a note that the Nexus search is experimental on the SPARQL search page
- the link can be added to the dataset search page

[2021-01-20 15:51] mandana-mazaheri commented on #350
Dear @cmadjar the deadline for dashboard of CONP pipeline executions on CONP datasets can be the end of March for me.

[2021-01-20 16:33] cmadjar commented on #350
Thanks @mandana-mazaheri I updated the github project accordingly :-)

[2021-01-20 16:39] mandana-mazaheri commented on #350
Thank you @cmadjar, also there will be a recommender system based on these provenance records which recommends pipelines and datasets given the other.
And I think the end of April is a reasonable deadline for that.
Please let me know if it's better to add that to this issue or create a new one?

[2021-01-20 16:42] cmadjar commented on #350
@mandana-mazaheri Maybe for that case it is better to create a new one and link it to this issue. Could you create the issue with the details? Thank you!

[2021-01-20 17:05] mandana-mazaheri commented on #350
Sure @cmadjar

[2021-01-20 17:08] mandana-mazaheri opened #395 "Recommendations for pipelines and datasets"
## Purpose
Generate a list of recommendations based on provenance records for datasets and pipelines given the other.

## Context

To help users to start running the pipelines on the datasets with the highest chance of successful execution.

## Possible Implementation (optional)
 Implicit Collaborative filtering

## Related issues (optional)

#63
#350

[2021-01-20 17:09] mandana-mazaheri commented on #395
Dear @cmadjar please let me know if it needs any changes

[2021-01-27 15:38] mandana-mazaheri opened #400 "Open CBRAIN in new tab"
## Purpose

To open a new tab for CBRAIN website when clicking on the CBRAIN button to run a pipeline.
## Context

## Possible Implementation (optional)

## Related issues (optional)
#347

[2021-01-27 15:42] mandana-mazaheri opened #401 "A block list for pipelines to be hidden in the portal"
There are some duplicated pipelines that should be removed from the portal.
## Context

## Possible Implementation (optional)

Creating a block list and add any pipeline which should be hidden in the portal

## Related issues (optional)

[2021-01-27 15:45] mandana-mazaheri commented on #401
Dear @cmadjar I appreciate it if you assign this issue and #400 to me. The deadline can be the end of February for both of them.

[2021-01-27 21:20] cmadjar commented on #401
Thank you @mandana-mazaheri . I assigned the issues to you and added them to the roadmap for end of February :-)

[2021-01-28 21:21] #376 closed

[2021-01-29 20:59] cmadjar commented on #374
Link to the final mock up of @3design : https://drive.google.com/file/d/1GSndNuIF9EUteqSMENYSKiQiEgo3DUAS/view

@liamocn do you have everything you need to start working on the dataset pages?

Thank you both!

[2021-01-29 22:13] cmadjar commented on #375
Link to the final mock up of @3design : https://drive.google.com/file/d/1GSndNuIF9EUteqSMENYSKiQiEgo3DUAS/view

[2021-02-03 20:15] cmadjar opened #403 "Display Matomo widgets into the analytics page"
## Purpose

Matomo has some nice displays of analytics that could be imported into the portal analytics page. A few Matomo widgets have been identified to import into the portal analytics page:

- [ ] [Visitors location map](https://matomo-dev.acelab.ca/index.php?module=Widgetize&action=iframe&disableLink=0&widget=1&moduleToWidgetize=UserCountryMap&actionToWidgetize=visitorMap&idSite=2&period=rang

[2021-02-03 20:56] cmadjar opened #404 "Display number of visits to the portal across time"
## Purpose

Show a simple histogram of the number of visits across time on the analytics page.

## Context

Matomo offers a nice API capability that allows to grep some summary statistics that we could process and display in addition to the widgets that Matomo already offers.

## Possible Implementation

Two possibilities:

1. link the following [widget](https://matomo-dev.acelab.ca/index.php?modu

[2021-02-03 21:11] cmadjar opened #405 "Display number of views per datasets/tools"
## Purpose

Display on the portal the number of views per dataset/tools. The same mechanism will be used in order to collect and display that information.

## Context

Matomo offers a nice API capability that allows to grep some summary statistics that we could process and display in addition to the widgets that Matomo already offers.

In order to get an idea of the number of views, we need to per

[2021-02-03 21:20] cmadjar opened #406 "Display popular keyword searches"
## Purpose

Display on the portal popular keyword searches.

**_Before implementing that, do some pre-analysis to see if we can get helpful information from that endpoint and how feasible it is to implement._**

## Context

Matomo offers a nice API capability that allows to grep some summary statistics that we could process and display in addition to the widgets that Matomo already offers.

In ord

[2021-02-03 21:26] cmadjar opened #407 "Display analytics on dataset providers"
## Purpose

Now that we have a `origin` field in the DATS schema, we can start showing some of the dataset providers in the analytics page.

**_Before doing any implementation on the portal, query what we have in that field and see if we can get some graph/tables that could be of interest._** A major caveat with this is that datasets crawled via Zenodo or OSF do not have the `origin` fields popula

[2021-02-03 21:26] cmadjar commented on #14
Because this ticket is like a gigantic ticket, it has been split into several smaller tickets:
- Display Matomo widgets into the analytics page, #403 (visitors map, page transitions etc...)
- Display number of visits to the portal across time, #404 **_(to be discussed)_**
- Display number of views per datasets/tools, #405
- List popular keyword searches, #406
- Analytics on dataset providers, #407

[2021-02-04 18:38] cmadjar commented on #403
@liamocn some other documentation about changing the theme and colors of Matomo. Not sure what is the best to employ for the visualization of the widgets in the portal.

https://developer.matomo.org/guides/theming

[2021-02-08 18:01] prioux opened #408 "Downloading BigBrain still cause problems"
The datalad registration of the files in the BigBrain Dataset contains erroneous remotes and path. This causes datalad to attempt multiple connections that fail before it can finally get the file contents.

This can be seen by using the 'git annex whereis' command on some files. E.g:

[code]

This shows there are two source entries referring to Emmet's own local setups (which are irrelevant to the

[2021-02-10 22:45] cmadjar commented on #404
Option 2 has been chosen at the CONP dev meeting of February, 10th 2020.

[2021-02-15 17:36] cmadjar commented on #408
@emmetaobrien @prioux I just removed the old URLs from the dataset using a script I created. The old web URLs should be removed now.

[code]

I also removed Emmet's remotes using:
[code]

So in theory, the only URL you should see now is the correct web URL pointing to the FTP site.

[2021-02-15 17:40] cmadjar commented on #408
@emmetaobrien I suspect that for many if not all our CONP dataset, there are our own remotes showing up in `git annex whereis`...

I will create a separate ticket for clean up of the datasets and we can split them amongst us.

[2021-02-16 15:26] emmetaobrien commented on #408
https://github.com/CONP-PCNO/conp-dataset/pull/524 removes unnecessary local setups for `Brainspan`, `celltypes`, the 3 `Khanlab` datasets and the 3 `refseq` datasets.

`mcgill-emc-rna-seq-experiment` still needs updating, but that is in @zxenia's repository to which I do not have access; also,  `visual-working-memory` has a non-standard set of locations:

[code]

[2021-02-22 19:44] cmadjar commented on #276
@zxenia I believe this is done so I will close the issue.

I will create a new issue for the prepopulated queries we talked about in previous meetings and assign it to you if that's OK with you.

[2021-02-22 19:44] #276 closed

[2021-02-22 19:55] cmadjar opened #412 "Add prepopulated queries to the Nexus search"
## Purpose

Create and prepopulate a few Nexus queries in the Advance search page so that users can see examples of Nexus queries or simply use prepopulated queries.

## Related issues

A follow up to the work that has been done in #276 and #377

[2021-02-22 19:56] cmadjar commented on #412
@zxenia feel free to add more notes relevant to this issue. Thanks!

[2021-02-22 20:06] cmadjar commented on #408
This has been fixed so closing the issue.

[2021-02-22 20:06] #408 closed

[2021-02-22 21:39] cmadjar commented on #406
#410 queries Matomo's API and inserts results in `matomo_daily_site_keyword_searches_summary`. Columns are:
[code]

Query to select the total number of hits per label.
[code]
My guess is that it is what we wish to display. Results of that query looks like:
[code]

We could ignore keywords of one character and display only the keywords with more than 10 hits?

[2021-02-22 21:57] cmadjar commented on #405
#410 queries Matomo's API and inserts results in `matomo_daily_dataset_page_views_summary` for the datasets and `matomo_daily_get_page_urls_summary` for all the other pages of the portal (including pipeline pages). Columns are:

Columns for `matomo_daily_get_page_urls_summary` are:
[code]

Columns for `matomo_daily_dataset_page_views_summary` are:
[code]

Query to select the number of views per da

[2021-02-22 22:01] cmadjar commented on #404
#410 queries Matomo's API and inserts results in `matomo_daily_visits_summary`. Columns are:

[code]

Query to display the number of visits and uniq visitors across time:
[code]

The results of the query would be:
[code]

Then the graphs could display the number of visits per months, weeks or days depending on what the user wishes to see.

[2021-02-24 16:11] cmadjar commented on #406
Display total cumulative search keywords. Display only keywords searched more than 10 hits to start with.

[2021-02-24 16:16] cmadjar commented on #405
Calculate total cumulative views and display them on the dataset/pipeline card under the logo.

@liamocn Is that something you want to add to your dataset page PR refactoring or would it come after?

I could create the route for that in my Matomo API PR if that is helpful. Just let me know what is best. Thanks!

[2021-02-24 16:18] cmadjar commented on #404
@liamocn the display for this would be a monthly cumulative histogram starting in June 2020 (month of the official release of the portal)

Let me know if there is anything else I can help with in that process. Happy to help creating the routes for that as well. On the React front, I am less useful though ;)

[2021-03-01 21:11] cmadjar commented on #400
@mandana-mazaheri have you had a chance to look at this? I know you have been quite busy so no worries if not. Just wanted to follow up on it.

[2021-03-02 03:58] mandana-mazaheri commented on #401
Hi Cecile,

Thanks for following it up. It is done now, I didn't pull request for this
one since I'm going to do one pull request for this issue and #400 at the
same time.

Best regards,
Mandana

On Mon., Mar. 1, 2021, 4:09 p.m. Cécile Madjar <notifications@github.com>
wrote:

[2021-03-02 12:21] mandana-mazaheri commented on #400
Hi Cecile,

Thanks for your understanding, the modifications in the source code are
applied, however there are some issues in the tests, specifically with the
browser.
I'm trying to solve it as soon as possible and do pull request for both
#400 and #401.

Best regards,
Mandana

On Mon., Mar. 1, 2021, 4:11 p.m. Cécile Madjar <notifications@github.com>
wrote:

[2021-03-03 20:42] cmadjar opened #414 "Change default privacy value to be open instead of public"
## Purpose

Following the DATS harmonization work, the default privacy value displayed on the portal should be changed to `open` instead of `public`

This is set by default in `app/static/lib/umd/conp-react.js`.

Also check if other places in the portal uses the privacy field. (see below)

[2021-03-03 21:37] cmadjar commented on #414
result of `grep privacy` in the code (excluding code for user privacy):
[code]

[2021-03-03 23:29] #255 closed

[2021-03-03 23:29] #374 closed

[2021-03-03 23:29] #186 closed

[2021-03-03 23:29] #375 closed

[2021-03-09 17:37] mathdugre opened #418 "[500 error] for McGill EMC: RNA-seq experiment from human brain sample"
## Summary
I was browsing through the portal and noticed that there is currently (Mar. 09 12:36) a **500 error** for the *McGill EMC: RNA-seq experiment from human brain sample* dataset.
I'm not sure if this error is transient or persistent, but I thought it would be good to report it here.

https://portal.conp.ca/dataset?id=projects/mcgill-emc-rna-seq-experiment

[2021-03-10 14:53] glatard commented on #348
Following discussion with @prioux and Bryan at the CONP meeting today:

CONP datasets are exposed as CBRAIN projects. The internal mapping to data providers is CBRAIN's business, not CONP's.

Remaining actions on this issue:
- for each CONP dataset available in CBRAIN, add a "CBRAIN" button to the data set page
- this button redirects to the corresponding project page in CBRAIN, where users can la

[2021-03-10 15:02] glatard commented on #349
It should be doable through the CBRAIN API. @natacha-beck did something similar.

[2021-03-10 15:22] glatard opened #420 "Add derived datasets produced in CBRAIN back to CONP"
## Purpose

Define and implement a mechanism for CBRAIN derived datasets to be contributed back to CONP.

## Context

This would be useful for many reasons :)

## Possible Implementation (optional)

Suggested by @prioux at the CONP meeting today:
1. Define storage space for the derived datasets
2. Have CBRAIN push files to this space
3. Have CBRAIN write provenance records next to the files (sugge

[2021-03-10 15:39] natacha-beck commented on #349
Since all CONP dataset that is currently in CBRAIN is setup as one DataProvider. The API should select the file present on the DataProvider (via the API call), then launch a Tool on this data still via the API.

[2021-03-10 15:43] cmadjar opened #421 "Display the dates DATS fields in the dataset page when information is available"
## Purpose

Currently, the dates displayed on the portal for a dataset are based on the Github repo dates.

In the dataset DATS file, there is an optional `dates` field that can be filled by the dataset provider for important dates. These should be displayed in the dataset page when available.

Structure example of the `dates` DATS field:
[code]